{{ $logo := resources.Get "img/taiwan-gold-card-logo-white.svg" }}
{{ $topic := .Page.Params.topic }}
{{ if not $topic }}
{{ if eq .Page.Section "categories" }}
{{ $topic = "eventsnews" }}
{{ else if eq .Page.Section "tags" }}
{{ $topic = "faq" }}
{{ else if eq .Page.Section "topics" }}
{{ $topic = "whytaiwan" }}
{{ end }}
{{ end }}
{{ $language := .Site.Language.Lang }}
{{ $data := index .Site.Data.navigation .Site.Language.Lang }}

<a href="{{ .Site.Home.RelPermalink }}" class="block w-1/3 max-w-36 px-4 py-4 focus-primary">
    <img src="{{ $logo.RelPermalink }}" class="w-full" alt="{{ partial "alt" ( dict "alt" (i18n "tego_logo") "lang" .Site.Language.Lang ) }}" />
</a>
<ul class="flex-grow hidden lg:flex justify-between items-center text-xl font-semibold ml-10">
    {{ range $data.items }}
    <li {{ if eq .topic $topic}}
        class="bg-yellow-400 self-stretch flex text-black font-bold"
        {{ else }}
        class="self-stretch flex hover:text-black hover:bg-white"
        {{ end }}
    >
        <a href="/{{ print $language .link }}" {{ if .dropdown }}
            @click.stop="toggleDropdown('{{ .topic }}', $event)" {{ end }}
            class="flex-center focus:bg-white focus:text-black px-4 xl:px-6"
            :class="{ 'bg-white text-black': {{ printf "dropdown.%s" .topic }} }"
            :aria-pressed="{{ printf "dropdown.%s" .topic }}"
            aria-controls="{{ printf "nav-dropdown-%s" .topic }}"
            :aria-expanded="{{ printf "dropdown.%s" .topic }}"
        >
            {{ if .dropdown }}
                <span class="mr-2">
                {{ .name }}
                </span>
                <span x-show="{{ printf "!dropdown.%s" .topic }}">
                    {{ partial "icon" (dict "name" "angle-down" "size" "6") }}
                </span>
                <span x-show="{{ printf "dropdown.%s" .topic }}" x-cloak>
                    {{ partial "icon" (dict "name" "angle-up" "size" "6") }}
                </span>
            {{ else }}
                <span>
                {{ .name }}
                </span>
            {{ end }}
        </a>
        {{ if .dropdown }}
        {{ partial "navigation/bar-dropdown" (dict "topic" .topic "dropdown" .dropdown "lang" $language "content" .content "all" $.Site ) }}
        {{ end }}
    </li>
    {{ end }}
</ul>
<div class="flex lg:hidden">
    <div class="flex">
        <button type="button" data-cy="show-search" x-data="taSearchTrigger()" x-init="init('mobile')" @click="show()"  class="px-4 focus:bg-white focus:text-nav-start" >
            <span class="sr-only">{{ i18n "placeholder_search" }}</span>
            {{ partial "icon" (dict "name" "search" "size" "8") }}
        </button>
    </div>
    <div class="flex">
        <button type="button" x-on:click="toggleModal()" class="px-8 -mr-8 focus:bg-white focus:text-nav-start" >
            <span class="sr-only">
                {{ i18n "show_navigation" }}
            </span>
            {{ partial "icon" (dict "name" "bars" "size" "8") }}
        </button>
    </div>
</div>


