{{ $url := .Page.Permalink }}
{{ $actual_language := .Site.Language.Lang }}

<div>{{ i18n "tego" }}</div>
<div class="flex flex-end">
    <button type="button" x-data="taSearchTrigger()" x-init="init('meta')" @click="show()" class="flex items-center border-r border-l border-white border-opacity-25 pl-4 pr-8 mr-4 focus:bg-white focus:text-black focus:text-opacity-100">
        {{ partial "icon" (dict "name" "search" "size" "3" "alt" (i18n "placeholder_search")) }}
        <span class="font-medium ml-2">
            {{ i18n "placeholder_search" }}
        </span>
    </button>
        {{/*  <form class="flex mr-8 border-r border-l border-white border-opacity-25 text-xs text-white m-0">
            <div class="flex focus-within:bg-white focus-within:text-black">
                <label for="search-box" class="flex-center pl-4">
                    {{ partial "icon" (dict "name" "search" "size" "3") }}
                </label>
                <input id="search-box" type="text" class="search-box flex-grow bg-transparent font-semibold placeholder-white placeholder-opacity-50 focus:placeholder-black focus:placeholder-opacity-50 p-2" placeholder="{{ i18n "search" }}">
            </div>
        </form>   */}}
    <div class="flex items-center uppercase" x-data="taLanguage()" x-init="init()">
        <div class="mr-2">
            {{ partial "icon" (dict "name" "language" "size" "6" "alt" (i18n "change_language")) }}
        </div>
        {{ range .Site.Languages }}
        {{ if lt .Weight 10 }}
        {{ $url = replace $url $actual_language .Lang }}
        {{ if eq $actual_language .Lang }}
        <a
            href="{{ $url }}"
            class="block bg-nav-dark font-bold px-2 py-3 mx-1 focus:bg-white focus:text-black"
            @click.prevent="switchLanguage('{{ .Lang }}')"
            title="{{ i18n "change_language" }}"
        >
        {{ else }}
        <a
            href="{{ $url }}"
            class="block px-2 py-3 mx-1 focus:bg-white focus:text-black"
            @click.prevent="switchLanguage('{{ .Lang }}')"
            title="{{ i18n "change_language" }}"
        >
        {{ end }}
            {{ .LanguageName }}
        </a>
        {{ end }}
        {{ end }}
    </div>
</div>
