<div>{{ i18n "tego" }}</div>
<div class="flex justify-evenly text-xs">
    <a
        href="{{ print .RelPermalink "#maincontent" }}" :href="href"
        class="block font-bold p-3 uppercase border-l border-white border-opacity-25 focus:bg-white focus:text-black"
        x-data="taMainContent()" x-init="init()"
        @click.prevent="go()"
        data-offset="20"
    >
        {{ i18n "to_main_content" }}
    </a>
    {{ $sitemap := .Site.GetPage "sitemap" }}
    <a
        href="{{ $sitemap.RelPermalink }}"
        class="block font-bold p-3 uppercase border-l border-white border-opacity-25 focus:bg-white focus:text-black">
        {{ $sitemap.Title }}
    </a>
    <button type="button" x-data="taSearchTrigger()" x-init="init('meta')" @click="show()" class="flex items-center border-r border-l border-white border-opacity-25 pl-4 pr-8 focus:bg-white focus:text-black">
        {{ partial "icon" (dict "name" "search" "size" "5" "alt" (i18n "placeholder_search")) }}
        <span class="font-bold ml-2 uppercase">
            {{ i18n "placeholder_search" }}
        </span>
    </button>
    <div class="flex items-center uppercase border-r border-white border-opacity-25" x-data="taLanguage()" x-init="init()">
        {{ range .Site.Languages }}
        {{ $language := .Lang }}
        {{ if eq $language "zh" }}
        {{ $language = "zh-Hant-TW" }}
        {{ end }}
        {{ if lt .Weight 10 }}
        {{ $url := print "/" .Lang (substr $.RelPermalink 3) }}
        {{ if eq $.Site.Language.Lang .Lang }}
        <div class="block bg-nav-dark font-bold p-3">
            {{ .LanguageName }}
        </div>
        {{ else }}
        <a
            href="{{ $url }}"
            class="block p-3 focus:bg-white focus:text-black"
            @click.prevent="switchLanguage('{{ .Lang }}')"
            lang="{{ $language }}"
            title="{{ i18n (print "change_language_to_" .Lang) }}"
        >
            {{ .LanguageName }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>
