{{ $topic := .Page.Params.topic }}
{{ $language := .Site.Language.Lang }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="max-w-screen-xl flex justify-between mx-auto">
    <a href="/{{ .Site.Language.Lang }}/" class="block w-1/2 max-w-48 px-4 py-2 focus-primary">
        <img src="/img/taiwan-gold-card-logo.png" class="w-full" alt="{{ i18n "tego_logo" }}" />
    </a>
    <ul class="flex-grow hidden lg:flex justify-between items-center text-base font-semibold ml-20">
        {{ range $data.navigation.items }}
            {{ if eq .topic $topic}}
            <li class="bg-yellow-400 self-stretch flex text-black font-bold">
            {{ else }}
            <li class="self-stretch flex hover:text-black hover:bg-white">
            {{ end }}
                <a href="/{{ print $language .link }}" class="flex-center px-6">
                    {{ .name }}
                </a>
            </li>
        {{ end }}
    </ul>
    <div class="flex lg:hidden">
        <button type="button" x-on:click="scrollTop()" class="px-4" >
            {{ partial "icon" (dict "name" "angle-up" "size" "8") }}
        </button>
    </div>
    <div class="flex lg:hidden">
        <button type="button" x-on:click="toggleModal()" class="px-8 -mr-8" >
            {{ partial "icon" (dict "name" "bars" "size" "8") }}
        </button>
    </div>
</div>
