{{ $topic := .Page.Params.topic }}
{{ $language := .Site.Language.Lang }}
{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="max-w-screen-xl flex justify-between mx-auto" aria-hidden="true">
    <a href="/{{ .Site.Language.Lang }}/" class="block w-1/2 max-w-48 px-4 py-4 focus-primary">
        <img src="/img/taiwan-gold-card-logo.png" class="w-full" alt="{{ i18n "tego_logo" }}" />
    </a>
    <ul class="flex-grow hidden lg:flex justify-between items-center text-lg font-semibold ml-20">
        {{ range $data.navigation.items }}
            {{ if eq .topic $topic}}
            <li class="relative bg-yellow-400 self-stretch flex text-black font-bold"
                aria-controls="{{ printf "nav-menue-%s" .topic }}"
                :aria-expanded="{{ printf "!dropdown.%s" .topic }}"
            >
            {{ else }}
            <li class="relative self-stretch flex hover:text-black hover:bg-white"
                :class="{'bg-white text-black': {{ printf "menue.%s" .topic }} }"
                aria-controls="{{ printf "nav-menue-%s" .topic }}"
                :aria-expanded="{{ printf "!dropdown.%s" .topic }}"
            >
            {{ end }}
                <a href="/{{ print $language .link }}"
                    {{ if .dropdown }}  @click.stop="toggleMenue('{{ .topic }}', $event)" {{ end }}
                    class="flex-center px-6">
                    {{ if .dropdown }}
                        <span class="mr-2">
                            {{ .name }}
                        </span>
                        <span x-show="{{ printf "!menue.%s" .topic }}">
                            {{ partial "icon" (dict "name" "angle-down" "size" "6") }}
                        </span>
                        <span x-show="{{ printf "menue.%s" .topic }}" x-cloak>
                            {{ partial "icon" (dict "name" "angle-up" "size" "6") }}
                        </span>
                    {{ else }}
                        <span>
                        {{ .name }}
                        </span>
                    {{ end }}
                </a>
                {{ if .dropdown }}
                {{ partial "navigation/scroll-dropdown" (dict "topic" .topic "dropdown" .dropdown "lang" $language "content" .content "all" $.Site ) }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
    <div class="flex lg:hidden">
        <button type="button" x-on:click="scrollTop()" class="px-4" >
            {{ partial "icon" (dict "name" "angle-up" "size" "8") }}
        </button>
    </div>
    <div class="flex lg:hidden">
        <button type="button" x-on:click="toggleModal()" class="px-8 -mr-8" >
            {{ partial "icon" (dict "name" "bars" "size" "8") }}
        </button>
    </div>
</div>
