{{ $logo := resources.Get "img/taiwan-gold-card-logo-white.svg" }}
{{ $topic := .Page.Params.topic }}
{{ $language := .Site.Language.Lang }}
{{ $data := index .Site.Data.navigation .Site.Language.Lang }}
<div class="max-w-screen-xl flex justify-between mx-auto" aria-hidden="true">
    <a href="/{{ .Site.Language.Lang }}/" class="block w-1/3 max-w-32 px-4 py-4 focus-primary">
        <img src="{{ $logo.RelPermalink }}" class="w-full" alt="{{ i18n "tego_logo" }}" />
    </a>
    <button type="button" x-data="taSearchTrigger()" x-init="init('scroll')" @click="show()" class="hidden lg:flex items-center px-4 focus:bg-white focus:text-black">
        {{ partial "icon" (dict "name" "search" "size" "5" "alt" (i18n "placeholder_search")) }}
    </button>
    <ul class="flex-grow-0 hidden lg:flex justify-between items-center text-base font-semibold">
        {{ range $data.items }}
            {{ if eq .topic $topic}}
            <li class="relative bg-yellow-400 self-stretch flex text-black font-bold"
                aria-controls="{{ printf "nav-menue-%s" .topic }}"
                :aria-expanded="{{ printf "!dropdown.%s" .topic }}"
            >
            {{ else }}
            <li class="relative self-stretch flex hover:text-black hover:bg-white"
                :class="{'bg-white text-black': {{ printf "menue.%s" .topic }} }"
                aria-controls="{{ printf "nav-menue-%s" .topic }}"
                :aria-expanded="{{ printf "!dropdown.%s" .topic }}"
            >
            {{ end }}
                <a href="/{{ print $language .link }}"
                    {{ if .dropdown }}  @click.stop="toggleMenue('{{ .topic }}', $event)" {{ end }}
                    class="flex-center px-4 xl:px-6 mx-2">
                    {{ if .dropdown }}
                        <span class="mr-2">
                            {{ .name }}
                        </span>
                        <span x-show="{{ printf "!menue.%s" .topic }}">
                            {{ partial "icon" (dict "name" "angle-down" "size" "6") }}
                        </span>
                        <span x-show="{{ printf "menue.%s" .topic }}" x-cloak>
                            {{ partial "icon" (dict "name" "angle-up" "size" "6") }}
                        </span>
                    {{ else }}
                        <span>
                        {{ .name }}
                        </span>
                    {{ end }}
                </a>
                {{ if .dropdown }}
                {{ partial "navigation/scroll-dropdown" (dict "topic" .topic "dropdown" .dropdown "lang" $language "content" .content "all" $.Site ) }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
    <div class="flex lg:hidden">
        <div class="flex">
            <button type="button" x-data="taSearchTrigger()" x-init="init('scroll')" @click="show()" class="flex items-center px-4 focus:bg-white focus:text-black">
                {{ partial "icon" (dict "name" "search" "size" "6" "alt" (i18n "placeholder_search")) }}
            </button>
        </div>
        <div class="flex">
            <button type="button" x-on:click="toggleModal()" class="px-8 -mr-4" >
                {{ partial "icon" (dict "name" "bars" "size" "8") }}
            </button>
        </div>
    </div>
</div>
