.DS_Store
node_modules
public
src/finder/dist
!src/finder/public
resources/_gen

# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
tmp
static/admin/tego-cms.js
content/tmp
static/lunr_index.json
static/js-misc/lunr-search.js

# Local Netlify folder
.netlify
cypress/integration/examples
cypress/videos
cypress/screenshots

assets/finder/js/Home.js
assets/finder/js/Home.js.map
assets/finder/js/Home~Result~Tree.js
assets/finder/js/Home~Result~Tree.js.map
assets/finder/js/Result.js
assets/finder/js/Result.js.map
assets/finder/js/Tree.js
assets/finder/js/Tree.js.map
assets/finder/js/chunk-vendors.js
assets/finder/js/chunk-vendors.js.map
assets/finder/js/index.js
assets/finder/js/index.js.map
assets/finder/js/Home.844c26e3.js
assets/finder/js/Home~Result~Tree.2646a28c.js
assets/finder/js/Result.d682f23d.js
assets/finder/js/Tree.f037e23c.js
assets/finder/js/chunk-vendors.07070c6e.js
assets/finder/js/index.0f3ab947.js
# src/finder/src/data/qualifications.json
# src/finder/src/data/questions.json
# src/finder/src/lang/en.json
# src/finder/src/lang/zh.jsondist
dist
assets/css/layout.min.css
assets/css/wysiwyg.min.css
