# For reference, see:
# https://github.com/gohugoio/hugoDocs/blob/master/netlify.toml
[build]
command = "chmod a+x ./scripts/netlify-build.sh"
publish = "public"
timeout = 80000

# If skip_processing = true, all other settings are ignored
[build.processing]
skip_processing = false

[build.environment]
HUGO_VERSION = "0.79.1"

[context.production.environment]
# HUGO_ENABLEGITINFO = "true"

# [context.split1]
# command = "hugo --gc --minify --enableGitInfo"

# [context.split1.environment]
# HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

# [context.next.environment]
# HUGO_ENABLEGITINFO = "true"

##
# 404 redirects by lang
[[redirects]]
from = "/en/*"
status = 404
to = "/en/error/"

[[redirects]]
from = "/zh/*"
status = 404
to = "/zh/error/"
