{{ $spruce := "false"}}
{{ with .spruce }}
{{ $spruce = . }}
{{ end }}

{{ $fetch := "false"}}
{{ with .fetch }}
{{ $fetch = . }}
{{ end }}

{{ $clipboard := "false"}}
{{ with .clipboard }}
{{ $clipboard = . }}
{{ end }}

{{ if eq $spruce "true" }}
<script src="/js/spruce.umd.js"></script>
{{ end }}

{{ if eq $fetch "true" }}
<script src="/js/fetch.min.js"></script>
{{ end }}

{{ if eq $clipboard "true" }}
<script src="/js/alpine-clipboard.min.js"></script>
{{ end }}

<script type="module" src="/js/alpine.min.js"></script>
<script nomodule src="/js/alpine-ie11.min.js" defer></script>
