{{ $amount := 3 }}

{{ $faq := where (where .Site.RegularPages "Section" "faq") "Permalink" "!=" .Page.Permalink }}
{{ $faq = where $faq ".Params.tags" "intersect" (slice ("Application" | plainify)) }}
{{ $faq = first $amount $faq.ByLastmod.Reverse }}

{{ $faq_page := .Site.GetPage "tags/application" }}

<div class="my-12">
    <h2 class="text-secondary text-3xl font-semibold mb-4">
        {{ i18n "latest_faq_application" }}
    </h2>
    {{ range $faq }}
        <div class="pb-4">
            <h3 class="text-secondary text-xl font-semibold mb-2">
                {{ .Title }}
            </h3>
            <div class="text-base font-normal leading-relaxed">
                {{ .Content }}
            </div>
        </div>
    {{ end }}
    <div class="text-center">
        <a href="{{ $faq_page.RelPermalink }}" class="inline-flex items-center font-bold text-base text-primary focus-primary p-1">
            {{ partial "icon" (dict "name" "angle-right" "size" "5") }}
            <span class="ml-2">
                {{ i18n "all_faq_application" }}
            </span>
        </a>
    </div>
</div>
