{{/* $file := resources.Get (printf "%s" (.Destination | safeURL)) */}}
{{ $target := "_self" }}
{{ $url := urls.Parse .Destination }}
{{ if eq $url.Scheme "https" }}
{{ $target = "_blank" }}
{{ else if eq $url.Scheme "http"  }}
{{ $target = "_blank" }}
{{ end }}

{{ $title := ""}}
{{ with .Title }}
{{ $title = . | plainify }}
{{ end }}
{{ if eq $target "_blank" }}
{{ $title = print (i18n "open_in_new_window") " " $title }}
{{ end }}

<a {{ if eq $target "_blank" }} target="{{ $target }}" {{ end }} {{ if $title }}  title="{{ $title }}" {{ end }} class="text-primary font-bold underline focus-primary" href="{{ .Destination }}">
  {{ .Text | safeHTML }}
</a>

