{{ $cover_image := "false" }}
{{ $large := "" }}
{{ $medium := "" }}
{{ $small := "" }}
{{ $buffer := "" }}
{{ with .Params.cover_image }}
{{ if fileExists (printf "assets/%s" ( . | safeURL)) }}
{{ if or (strings.HasSuffix . "png") (strings.HasSuffix . "jpg") }}
{{ $buffer = resources.Get (printf "%s" ( . | safeURL)) }}
{{ end }}
{{ end }}
{{ end }}

{{ if ne $buffer "" }}
{{ $large = $buffer.Fill "1560x787 jpg q15" }}
{{ $medium = $buffer.Fill "1024x576 q15" }}
{{ $small = $buffer.Fill "768x432 q15" }}
{{ $cover_image = "true" }}
{{ end }}

{{ $h1_count := .Content | strings.Count "<h1" }}

<div class="container py-12 sm:py-24 px-12 lg:px-24">
    <div id="scroll" class="grid grid-cols-1 md:grid-cols-3 gap-12 xl:gap-24">
        <div class="sm:col-span-2">
            {{ if eq $cover_image "true" }}
            <figure>
                <div class="relative w-full h-0 pb-16/9 min-h-32 rounded-md shadow-xl overflow-hidden mb-8">
                    <img
                    srcset="{{ $small.RelPermalink }} 480w, {{ $medium.RelPermalink }} 768w, {{ $large.RelPermalink }} 1024w"
                    src="{{ $buffer.RelPermalink }}"
                        alt="{{ .Page.Params.cover_image_alt | truncate 160 }}"
                        class="block absolute inset-0 w-full h-full object-cover"
                        loading="lazy"
                    />
                </div>
            </figure>
            {{ end }}
            {{ partial "breadcrumb" . }}
            <div class="copy replace mt-4">
                {{ if eq $h1_count 0 }}
                <h1 class="text-5xl font-medium leading-tight mb-2">
                    {{ .Title | safeHTML }}
                </h1>
                {{ end }}
                {{.Content }}
            </div>
        </div>
        <div class="print:hidden -mt-12">
            {{ partial "aside/summary" . }}
            {{ partial "aside/toc" . }}
            {{ if .Params.categories }}
            {{ partial "aside/all-categories" . }}
            {{ end }}
            {{ if .Params.tags }}
            {{ partial "aside/all-tags" . }}
            {{ end }}
            {{ if .Params.topics }}
            {{ partial "aside/all-topics" . }}
            {{ end }}
            {{ partial "aside/apply-now" . }}
        </div>
    </div>
</div>
