{{ define "main" }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

{{ $example_logo := resources.Get "/cms-uploads/netlify-logo.jpg" }}

<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
</div>

<div class="relative flex items-center bg-nav-meta shadow-xl z-0 py-16">
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2">QUALIFICATION LIST TEMPLATE</div>
    <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
    <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
        <img src="/img/list-mountains.svg" alt="" class="block w-full">
    </div>
    <div class="container px-12 lg:px-24">
        <div class="flex justify-between lg:px-24">
            <div class="replace w-full sm:w-2/3 text-white">
                <h1 class="text-5xl leading-tight font-semibold my-2">
                    {{ .Title | truncate 120 }}
                </h1>
                <p class="text-lg font-medium leading-relaxed">{{ .Summary | truncate 200 }}</p>
            </div>
            <div class="flex-center w-1/4">
                {{ if $cover_image }}
                <img src="{{ $cover_image.RelPermalink }}" class="w-full" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-96 bg-white bg-gradient-to-b from-blue-100 to-white -z-1"
    ></div>
    <section id="scroll">
        <div class="container py-12 sm:pb-24 px-12 lg:px-24">
            {{ partial "breadcrumb" . }}
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 auto-rows-fr gap-12 mt-6">
                {{ range .RegularPages }}
                {{ $icon := resources.Get "cms-uploads/icon-tag.svg" }}
                <div class="flex flex-col border-2 border-gray-200 bg-gradient-to-b from-white to-gray-100 rounded">
                    <div class="border-b border-gray-200 p-4">
                        <img src="{{ $icon.RelPermalink }}" alt="asdasd" class="block mx-auto w-1/4 sm:w-1/3" />
                    </div>
                    <div class="text-center p-4">
                        <h2 class="text-xl font-bold text-primary">
                            <a href="{{ .RelPermalink }}" class="inline-block p-1 focus-primary">{{ .Title | truncate 80 }}</a>
                        </h2>
                        <p class="text-md leading-relaxed">
                            {{ .Summary | truncate 120 }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="copy replace mt-12 md:w-2/3">
                {{.Content}}
            </div>
        </div>
    </section>
</div>
{{end}}
