{{ define "main" }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

{{ $example_logo := resources.Get "/cms-uploads/netlify-logo.jpg" }}

<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
</div>

<div class="relative flex items-center bg-nav-meta shadow-xl z-0 py-16">
    <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
    {{ if .Site.IsServer }}
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2 z-1">QUALIFICATION LIST TEMPLATE</div>
    {{ end }}
    <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
        <img src="/img/list-mountains.svg" alt="{{ i18n "taiwan_mountains" }}" class="block w-full">
    </div>
    <div class="container text-white px-12 lg:px-24">
        <div class="flex flex-col md:flex-row justify-between md:items-center lg:px-24">
            {{ if $cover_image }}
            <div class="flex-center w-1/3 md:w-1/4 mb-6">
                <img src="{{ $cover_image.RelPermalink }}" class="w-full drop-shadow-white" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
            </div>
            {{ end }}
            <div class="replace w-full md:w-2/3">
                <h1 class="text-5xl leading-tight font-semibold my-2">
                    {{ .Title | truncate 120 }}
                </h1>
                <p class="text-lg font-medium leading-relaxed">{{ .Summary | truncate 200 }}</p>
            </div>
        </div>
    </div>
</div>

<div id="scroll" class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-white -z-1"
    ></div>
    <section>
        <div class="container py-12 sm:pb-24 px-12 lg:px-16">
            {{ partial "breadcrumb" . }}
            <div class="copy replace mb-12">
                {{.Content}}
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 xxl:grid-cols-4 auto-rows-fr gap-12 mt-6">
                {{ range sort .RegularPages ".File.BaseFileName" "asc" }}
                    {{ $default_icon := resources.Get "cms-uploads/icon-tag.svg" }}
                    {{ $icon := $default_icon }}
                    {{ if .Params.icon }}
                        {{ $icon = resources.Get (printf "%s" (.Params.icon | safeURL)) }}
                    {{ end }}
                    <a href="{{ .RelPermalink }}" class="flex flex-col border-2 border-gray-200 bg-gradient-to-b from-white to-gray-100 rounded focus-primary" alt="{{ .Title }}">
                        <div class="border-b border-gray-200 p-4">
                            <img src="{{ $icon.RelPermalink }}" alt="{{ .Title }}" class="block mx-auto w-1/3 lg:w-1/2" />
                        </div>
                        <div class="text-center p-4">
                            <h2 class="text-lg leading-snug font-bold text-primary">
                                {{ .Title | truncate 80 }}
                            </h2>
                        </div>
                    </a>
                {{ end }}
            </div>
        </div>
    </section>
</div>
{{end}}
