{{ define "main" }}

{{ $news := .Site.GetPage "/news" }}
{{ $cover_image := "" }}
{{ if $news.Params.cover_image }}
{{ $cover_image = resources.Get $news.Params.cover_image }}
{{ end }}

<div class="relative shadow-xl">
    {{ partial "navigation" . }}
</div>

<div class="relative flex items-center bg-background-light z-0 shadow-xl py-16">
    <div
    class="absolute top-0 inset-x-0 h-full bg-gradient-to-b from-gradient to-transparent opacity-25 -z-1"
    ></div>
    {{ if .Site.IsServer }}
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2">NEWS TAXONOMY TEMPLATE</div>
    {{ end }}
    <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
        <img src="/img/list-mountains-light.svg" alt="" class="block w-full" aria-hidden="true">
    </div>
    <div class="container px-12 lg:px-24">
        <div class="flex flex-col md:flex-row justify-between md:items-center lg:px-24">
            {{ if $cover_image }}
            <div class="flex-center w-1/3 md:w-1/4 mb-6">
                <img src="{{ $cover_image.RelPermalink }}" class="w-full max-h-48 drop-shadow-white" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
            </div>
            {{ end }}
            <div class="replace w-full md:w-2/3">
                {{ $news := .Site.GetPage "/news" }}
                <nav aria-label="breadcrumb">
                    <div class="text-xs font-semibold mb-4">
                        <ol class="flex items-center font-bold">
                            <li class="pr-2">
                                <a href="{{ .Site.Home.RelPermalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">
                                    {{ partial "icon" (dict "name" "home" "size" "4") }}
                                    <span class="ml-2">
                                        {{ .Site.Home.Title }}
                                    </span>
                                </a>
                            </li>
                            <li class="border-l-2 border-gray-500 border-dashed px-2">
                                <a href="{{ $news.RelPermalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">{{ $news.Title }}</a>
                            </li>
                            <li class="border-l-2 border-gray-500 border-dashed px-2">
                                <span class="flex items-center bg-white rounded px-2 py-1">
                                    {{ if i18n (.Title | anchorize) }}
                                    {{ i18n (.Title | anchorize) }}
                                    {{ else }}
                                    {{ .Title | humanize }}
                                    {{ end }}
                                </span>
                            </li>
                        </ol>
                    </div>
                </nav>
                <h1 class="text-5xl leading-tight font-semibold my-2">
                    {{ i18n "news_category" }}:
                    {{ if i18n (.Title | anchorize) }}
                    {{ i18n (.Title | anchorize) }}
                    {{ else }}
                    {{ .Title | humanize }}
                    {{ end }}
                </h1>
                <p class="text-lg font-medium leading-relaxed">{{ $news.Summary }}</p>
            </div>
        </div>
    </div>
</div>

<div id="scroll" class="relative flex-grow pt-12">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-white -z-1"
    ></div>
    <section>
        <div class="container pb-12 sm:pb-24 px-12 lg:px-24">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 xl:gap-24">
                <div class="lg:col-span-2 pt-10">
                  <div class=" border-t-2 border-secondary border-dashed"></div>
                    {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
                    {{ range $paginator.Pages }}

                    {{ $reading_time := .ReadingTime }}
                    {{ if eq .Language.Lang "zh" }}
                      {{ range .Translations }}
                        {{ if eq .Language.Lang "en" }}
                          {{ $reading_time = .ReadingTime }}
                        {{ end }}
                      {{ end }}
                    {{ end }}

                    <div class="grid grid-cols-4 border-b-2 border-secondary border-dashed">
                        <div class="p-4">
                            <div class="border-2 border-secondary rounded-md text-center font-bold text-secondary p-2 mt-8">
                                <div class="text-xl pb-2">
                                    {{ .Lastmod.Format "2006" }}
                                </div>
                                <div class="border-t-2 border-secondary border-dashed text-xs pt-2">
                                    {{ if eq .Site.Language.Lang "zh" }}
                                    {{ dateFormat "1月2年" .Lastmod }}
                                    {{ else }}
                                    {{ dateFormat "January 2th" .Lastmod }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="col-span-3 px-4 py-8">
                            <h2 class="text-xl font-bold text-primary mb-1">
                                <a href="{{ .RelPermalink }}" class="focus-primary">
                                    {{ .Title | truncate 110 }}
                                </a>
                            </h2>
                            <p class="text-base mb-4">
                                {{ .Summary | truncate 180 }}
                            </p>
                            <div class="flex items-center text-xs font-bold text-secondary mb-2">
                                {{ partial "icon" (dict "name" "book-reader" "size" "4") }}
                                <span class="ml-2">
                                  {{ printf (i18n "reading_time") $reading_time }}
                                </span>
                              </div>
                            <div>
                            <div class="inline-flex items-center text-xs font-bold text-secondary">
                                  {{ partial "icon" (dict "name" "tags" "size" "4") }}
                                  <span class="ml-1">
                                    {{ i18n "categories" }}:
                                  </span>
                                </div>
                                <ul class="inline">
                                  {{ range .Params.categories }}
                                  <li class="inline-block text-primary text-xs p-1 mx-1">
                                      <a href="/{{ $.Site.Language }}/categories/{{ . | anchorize }}" class="inline-flex items-center focus-primary">
                                          {{ partial "icon" (dict "name" "tag" "size" "3") }}
                                          <span class="font-bold uppercase ml-2">
                                            {{ if i18n (. | anchorize ) }}
                                            {{ i18n (. | anchorize) }}
                                            {{ else }}
                                            {{ . | humanize }}
                                            {{ end }}
                                          </span>
                                      </a>
                                  </li>
                                  {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {{ end }}

                    {{ partial "pagination" . }}

                    {{ if .Content }}
                    {{ if eq $paginator.PageNumber 1 }}
                    <div class="copy mt-12">{{ .Content }}</div>
                    {{ end }}
                    {{ end }}

                </div>
                <div class="-mt-12">
                    {{ partial "aside/all-categories" . }}
                    {{ partial "aside/apply-now" . }}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
