@tailwind base;

:root {
    --vh: 1vh;
    --overflow: hidden;
}

html,
body {
    font-size: 12px;
}

@screen sm {
    html,
    body {
        font-size: 14px;
    }
}
@screen md {
    html,
    body {
        font-size: 15px;
    }
}
@screen lg {
    html,
    body {
        font-size: 16px;
    }
}
@screen xl {
    html,
    body {
        font-size: 18px;
    }
}

input,
textarea,
button,
select,
div,
a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    outline-style: none;
}

blockquote {
    padding: 0;
    margin: 0;
}

@tailwind components;
@tailwind utilities;

.overflow {
    overflow: var(--overflow);
}

.inset-x-center {
    left: 50%;
    transform: translateX(-50%);
}
.text-shadow-black {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.text-shadow-0 {
    text-shadow: none;
}

.breadcrumb {
    @apply relative inline-block;
}
.breadcrumb::before {
    content: ">";
    @apply font-bold pr-1;
}

.highlight {
    @apply inline-block bg-highlight text-black whitespace-no-wrap rounded-md;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.append {
    position: relative;
}

.append::before {
    content: '_';
    font-size: 1em;
    font-weight: inherit;
    margin-left: -1em;
    padding-right: 0.2em;
}

.copy {
    @apply leading-loose text-base;
}
.copy.copy--large {
    @apply text-xl;
}

/* purgecss start ignore */
.copy p {
    @apply font-regular mb-4;
}

.copy strong,
.copy strong a {
    @apply font-medium text-black;
}

.copy em,
.copy em a {
    @apply font-regular italic;
}

.copy ul {
    list-style-type: '>';
    @apply list-outside -ml-2 mb-4;
}

.copy ul li {
    @apply text-black font-regular pb-2 pl-2;
}

.copy ol {
    counter-reset: twgc-counter;
    list-style: none;
    @apply -ml-2 mb-4;
}
.copy ol li {
    counter-increment: twgc-counter;
    @apply relative list-outside text-black font-regular pb-2 pl-2;
}
.copy ol li::before {
    content: counter(twgc-counter);
    @apply absolute flex items-center justify-center leading-none tracking-tight text-xs text-white font-bold bg-secondary rounded-full overflow-hidden;
    --size: 0.8rem;
    left: calc(-1 * var(--size) - 0.5rem);
    width: calc(var(--size) + 0.5rem);
    height: calc(var(--size) + 0.5rem);
    top: calc(var(--size) / 3);
}

[x-cloak] {
    display: none !important;
}
/* purgecss end ignore */
