@tailwind base;

:root {
    --vh: 1vh;
    --overflow: hidden;
}

html,
body {
    font-size: 12px;
}

@screen sm {
    html,
    body {
        font-size: 14px;
    }
}
@screen md {
    html,
    body {
        font-size: 15px;
    }
}
@screen lg {
    html,
    body {
        font-size: 16px;
    }
}
@screen xxl {
    html,
    body {
        font-size: 18px;
    }
}

input,
textarea,
button,
select,
div,
a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    outline-style: none;
}

blockquote {
    padding: 0;
    margin: 0;
}

@tailwind components;
@tailwind utilities;

/* purgecss start ignore */


.separate {
    @apply relative;
}
.separate::before {
    content: ' ';
    position: absolute;
    left: 0px;
    right: 0px;
    top: calc(50% - 1px);
    @apply border-t-2 border-dashed border-gray-400;
}
.separate-top::before {
    top: 0px;
}
.separate-bottom::before {
    top: 100%;
}

.frame-content {
    @apply leading-relaxed text-lg;
}
.frame-content.copy--large {
    @apply text-xl;
}

.frame-content h1 {
    @apply text-5xl font-medium leading-tight mb-2;
}
.frame-content h2 {
    @apply text-2xl font-semibold text-secondary leading-snug mb-2 mt-8;
}
.frame-content h3 {
    @apply text-xl font-semibold text-secondary leading-snug mb-2 mt-4;
}
.frame-content h4 {
    @apply text-base font-semibold text-secondary leading-snug mb-2;
}
.frame-content h5 {
    @apply text-base font-semibold text-secondary leading-snug mb-2;
}

.frame-content p {
    @apply font-regular mb-4;
}

.frame-content strong {
    @apply font-medium text-black;
}
.frame-content strong a {
    @apply font-semibold text-primary;
}

.frame-content em,
.frame-content em a {
    @apply font-regular italic;
}

/* fallback if content list is with double line break */
.frame-content ul p,
.frame-content ol p {
    @apply pb-0 mb-0;
}

.frame-content ul {
    list-style-type: circle;
    @apply list-outside ml-5 mb-4 mr-12;
}

.frame-content ul ul {
    list-style-type: '-';
    @apply list-outside ml-2 mt-2;
}

.frame-content ul ul ul {
    list-style-type: '-';
    @apply list-outside text-md ml-2 my-2;
}

.frame-content ul li {
    @apply text-black font-regular pb-2 pl-2;
}
.frame-content UL UL LI:last-of-type {
    @apply pb-0;
}

.frame-content ol {
    counter-reset: twgc-counter;
    list-style: none;
    @apply ml-5 mb-4 mr-12;
}
.frame-content ol li {
    counter-increment: twgc-counter;
    @apply relative list-outside text-black font-regular pb-2 pl-2;
}
.frame-content ol li::before {
    content: counter(twgc-counter);
    @apply absolute flex items-center justify-center leading-none tracking-tight text-xs text-white font-bold bg-secondary rounded-full overflow-hidden;
    --size: 0.8rem;
    left: calc(-1 * var(--size) - 0.5rem);
    width: calc(var(--size) + 0.5rem);
    height: calc(var(--size) + 0.5rem);
    top: calc(var(--size) / 3);
}
/* purgecss end ignore */
