{{ define "main" }}

{{ $cover_image := resources.Get "cms-uploads/icon-tag.svg" }}

<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
    {{ partial "alert" .  }}
</div>

<div class="relative flex items-center bg-background-light z-0 shadow-xl py-16">
    <div
    class="absolute top-0 inset-x-0 h-full bg-gradient-to-b from-gradient to-transparent opacity-25 -z-1"
    ></div>
    {{ if .Site.IsServer }}
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2">TOPICS TAXONOMY TEMPLATE</div>
    {{ end }}
    <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
        <img src="/img/list-mountains-light.svg" alt="" class="block w-full" aria-hidden="true">
    </div>
    <div class="container px-12 lg:px-24">
        <div class="flex flex-col md:flex-row justify-between md:items-center lg:px-24">
            {{ if $cover_image }}
            <div class="flex-center w-1/3 md:w-1/4 mb-6">
                <img src="{{ $cover_image.RelPermalink }}" class="w-full max-h-48 drop-shadow-white" loading="lazy" alt="" />
            </div>
            {{ end }}
            <div class="replace w-full md:w-2/3">
                {{ $whytaiwan := .Site.GetPage "/why-taiwan" }}
                <nav aria-label="breadcrumb">
                    <div class="text-xs font-semibold mb-4">
                        <ol class="flex items-center font-bold">
                            <li class="pr-2">
                                <a href="{{ .Site.Home.RelPermalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">
                                    {{ partial "icon" (dict "name" "home" "size" "4") }}
                                    <span class="ml-2">
                                        {{ .Site.Home.Title }}
                                    </span>
                                </a>
                            </li>
                            <li class="border-l-2 border-gray-500 border-dashed px-2">
                                <a href="{{ $whytaiwan.RelPermalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">{{ $whytaiwan.Title }}</a>
                            </li>
                            <li class="border-l-2 border-gray-500 border-dashed px-2">
                                <span class="flex items-center bg-white rounded px-2 py-1">
                                    {{ i18n "topics" }}
                                </span>
                            </li>
                        </ol>
                    </div>
                </nav>
                {{ $title := $whytaiwan.Title }}
                {{ if i18n .Title }}
                    {{ $title = print $title ": " i18n .Title }}
                {{ else }}
                    {{ $title = print  $title ": " .Title }}
                {{ end }}
                <h1 id="{{ $title | humanize | anchorize }}" class="text-5xl leading-tight font-semibold mb-2">
                    {{ $title }}
                </h1>
                <h2 class="text-lg font-medium leading-relaxed">{{ $whytaiwan.Summary | truncate 200 }}</h2>
            </div>
        </div>
    </div>
</div>

<div id="scroll" class="relative flex-grow pt-24">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-white -z-1"
    ></div>
    <section>
        <div class="container pb-12 sm:pb-24 px-12 lg:px-24">
            <div class="grid md:grid-cols-12 gap-12 xl:gap-16">
                {{ range $index, $value := .Pages }}
                {{ if eq $index 0 }}
                    {{ partial "blog/list-12-12" (dict "article" .  "lang" .Site.Language.Lang "tag" $.Title ) }}
                {{ else if eq $index 1 }}
                    {{ partial "blog/list-7-12" (dict "article" .  "lang" .Site.Language.Lang "tag" $.Title ) }}
                {{ else if eq $index 2 }}
                    {{ partial "blog/list-5-12" (dict "article" .  "lang" .Site.Language.Lang "tag" $.Title ) }}
                {{ else if ge $index 5 }}
                    {{ partial "blog/list-4-12" (dict "article" .  "lang" .Site.Language.Lang "tag" $.Title ) }}
                {{ else }}
                    {{ partial "blog/list-6-12" (dict "article" .  "lang" .Site.Language.Lang "tag" $.Title )}}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
</div>

{{end}}
