{{ define "main" }}
<div class="relative shadow-xl print:shadow-none">
    {{ partial "navigation" . }}
    {{ partial "alert" .  }}
</div>
<div class="flex-grow flex-center">
    <div class="flex flex-col justify-center items-center w-full h-full">
        <div>
            <div class="w-full max-w-xl mx-auto mb-6">
                <img class="w-full" src="/img/404.png" alt="" />
            </div>
            <div class="copy w-full max-w-xl mx-auto text-center">{{.Content}}</div>
        </div>
    </div>
</div>
{{end}}
