{{ define "main" }}

{{ $hero := (.Site.GetPage "/home").Resources.GetMatch "hero*" }}

{{ $heromessages := slice }}
{{ range $hero.Params.items }}
{{ $heromessages = $heromessages | append .label }}
{{ end }}

{{ $hero_small := resources.Get "img/hero-taipei-101-small.jpg" | fingerprint }}
{{ $hero_medium := resources.Get "img/hero-taipei-101-medium.jpg" | fingerprint }}
{{ $hero_large := resources.Get "img/hero-taipei-101-large.jpg" | fingerprint }}
{{ $hero_max := resources.Get "img/hero-taipei-101-max.jpg" | fingerprint }}

<div class="relative h-screen max-h-homehero shadow-xl print:shadow-none">
    {{ partial "navigation" .  }}
    <div class="absolute inset-0 bg-nav-start bg-gradient-to-b from-nav-start to-nav-end print:hidden">
        <div class="absolute inset-0 w-full h-full z-0">
            <img
            sizes="100vw"
            srcset="{{ $hero_small.RelPermalink }} 480w, {{ $hero_medium.RelPermalink }} 768w, {{ $hero_large.RelPermalink }} 1024w, {{ $hero_max.RelPermalink }} 1440w"
            src="{{ $hero_max.RelPermalink }}"
            loading="lazy"
            alt="{{ i18n "home_image_alt" }}" class="block w-full h-full object-cover object-left-bottom">
        </div>
        <div class="absolute right-0 bottom-0 flex-center w-full sm:w-2/3 xxl:w-1/2 h-full sm:h-2/3">
            <div class="w-full lg:w-5/6 p-12">
                <div class="mb-1">
                    <h1 class="flex flex-col items-start leading-snug break-normal hyphens-none">
                        <span class="text-6xl font-bold bg-white padded-fixed my-1">
                            {{ $hero.Title | markdownify }}
                        </span>
                        <span class="text-4xl font-regular bg-white padded-fixed my-1">
                            {{ $hero.Summary | markdownify }}
                        </span>
                    </h1>
                </div>
                <div class="mt-12 -ml-2">
                    {{ range $hero.Params.links }}
                    {{ $page := $.Site.GetPage .href }}
                    {{ if $page }}
                        {{ if .is_cta }}
                        <a
                            href="{{ $page.RelPermalink }}"
                            class="inline-flex items-center border-2 border-primary bg-primary rounded font-bold text-white text-lg px-4 py-2 focus-white shadow-lg mr-4 mb-4"
                        >
                            <span class="mr-2">
                                {{ .label }}
                            </span>
                            {{ partial "icon" (dict "name" "angle-right" "size" "8") }}
                        </a>
                        {{ else }}
                        <a
                            href="{{ $page.RelPermalink }}"
                            class="inline-flex items-center bg-white rounded font-bold text-primary text-base px-4 py-2 focus-white shadow-lg mr-4 mb-4"
                        >
                            <span class="mr-2">
                                {{ .label }}
                            </span>
                            {{ partial "icon" (dict "name" "angle-right" "size" "6") }}
                        </a>
                        {{ end }}
                    {{ end }}
                    {{ end }}

                </div>
            </div>
        </div>
        <div class="hero-scroll-hint">
            {{/*  <div class="w-full lg:w-2/3 xl:w-1/2 mx-auto -mb-px">
                <svg viewBox="0 0 698 64" class="w-full" xmlns="http://www.w3.org/2000/svg"><g fill="#005E9E"><path d="m125.5 63.3043h472.5s-120-61.30419-219-62.8043-253.5 62.8043-253.5 62.8043z" fill-opacity=".6"/><path d="m60 45.9257-60 17.3785h698s-136-48.8041-256.5-48.8042c-120.5 0-274.715-2.9549-381.5 31.4257z" fill-opacity=".4"/></g></svg>
            </div>  */}}
            <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex-center text-white opacity-50 mb-2">
                {{ partial "icon" (dict "name" "angle-down" "size" "20") }}
            </div>
        </div>
    </div>
</div>
<div id="scroll" class="flex-grow">
    <section help="intro">
        {{ partial "home/intro" .  }}
    </section>
    <section help="cta">
        {{ partial "home/cta" .  }}
    </section>
    <section help="map">
        {{ partial "home/map" .  }}
    </section>
    <section help="statistics">
        {{ partial "home/statistics" .  }}
    </section>
    <section help="cards">
        {{ partial "home/cards" .  }}
    </section>
    {{/*  {{ partial "home/expand" .  }}  */}}
</div>
{{ end }}
