{{ define "main" }}
<div class="relative bg-blue-500 shadow-xl">
    {{ partial "meta-navigation" . }}
    {{ partial "main-navigation" . }}
    <div class="relative bg-blue-600 z-0 pt-24 pb-16">
        <div class="container">
            <div class="px-24 ">
                <div class="grid grid-cols-3 gap-24 items-center">
                    <div class="col-span-2">
                        <h1 class="text-white text-4xl font-semibold mb-2">
                            <span class="font-bold">Taiwan <span class="text-yellow-400">Gold Card</span></span> Application FAQ
                        </h1>
                        <p class="text-white font-semibold">The Taiwan Employment Gold Card is a combined visa, work permit and residence permit launched in 2018 to attract professional talent in Taiwan.</p>
                    </div>
                    <div>
                        <img src="/img/dummy-card.svg" alt="" class="w-full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex-grow">
    <section>
        <div class="container py-24 px-24">
            <div class="text-sm font-semibold mb-4">
                <ul class="flex items-center">
                    <li class="text-orange-500 mr-2">
                        <a href="/{{ .Site.Language.Lang }}/" class="">Home</a>
                    </li>
                    <li class="text-orange-500 mr-2">
                        <a href="/{{ .Site.Language.Lang }}/">Gold Card</a>
                    </li>
                    <li class="">
                        About Gold Card
                    </li>
                </ul>
            </div>
            <div class="grid grid-cols-3 gap-12">
                <div class="col-span-2 grid grid-cols-2 gap-12">
                    <div class="flex flex-col justify-center items-center border-2 border-gray-500 rounded-lg shadow-xl px-6 py-8">
                        <img src="/img/dummy-icon.svg" alt="" class="h-12 mb-4">
                        <h2 class="text-xl font-bold text-orange-500 mb-2">
                            <a href="#">How to set-up</a>
                        </h2>
                        <p class="text-center text-base">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <div class="flex flex-col justify-center items-center border-2 border-gray-500 rounded-lg shadow-xl px-6 py-8">
                        <img src="/img/dummy-icon.svg" alt="" class="h-12 mb-4">
                        <h2 class="text-xl font-bold text-orange-500 mb-2">
                            <a href="#">How to set-up</a>
                        </h2>
                        <p class="text-center text-base">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <div class="border-2 border-gray-500 rounded-lg shadow-xl">
                        <div class="w-full h-32">
                            <img src="/img/dummy-image.jpg" alt="" class="w-full h-full object-cover object-top">
                        </div>
                        <div class="flex flex-col justify-center items-center px-6 pt-4 pb-8">
                            
                            <h2 class="text-xl font-bold text-orange-500 mb-2">
                                <a href="#">How to set-up</a>
                            </h2>
                            <p class="text-center text-base">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="border-2 border-gray-500 rounded-lg shadow-xl">
                        <div class="w-full h-32">
                            <img src="/img/dummy-image.jpg" alt="" class="w-full h-full object-cover object-top">
                        </div>
                        <div class="flex flex-col justify-center items-center px-6 pt-4 pb-8">
                            
                            <h2 class="text-xl font-bold text-orange-500 mb-2">
                                <a href="#">How to set-up</a>
                            </h2>
                            <p class="text-center text-base">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="copy">
                    {{.Content}}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
