{{ define "main" }}
{{ $headline := .Page.Title }}
{{ if isset .Page.Params "headline" }}
{{ $headline = .Page.Params.headline }}
{{ end }}
{{ $teaser := .Page.Params.description }}
{{ if isset .Page.Params "teaser" }}
{{ $teaser = .Page.Params.teaser }}
{{ end }}
<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
    <div class="relative bg-nav-meta z-0 pt-16 pb-16">
        <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
        <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
            <img src="/img/list-mountains.svg" alt="" class="block w-full">
        </div>
        <div class="container">
            <div class="px-24 ">
                <div class="grid grid-cols-3 gap-24 items-center">
                    <div class="replace col-span-2">
                        <h1 class="text-white text-5xl leading-tight font-semibold mb-2">
                            <span class="font-bold">{{ $headline }}
                        </h1>
                        <p class="text-white font-semibold">{{ $teaser }}</p>
                    </div>
                    <div>
                        <img src="/img/dummy-card.svg" alt="" class="w-full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-white bg-gradient-to-b from-gradient to-white opacity-25 -z-1"
    ></div>
    <section id="scroll">
        <div class="container py-24 px-24">
            {{ partial "breadcrumb" . }}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 mt-8">
                <div class="lg:col-span-2 grid grid-cols-2 gap-12">
                    {{ range .Sections}}
                    <a href="{{.Permalink}}" class="flex flex-col justify-center items-center text-center border-2 border-gray-500 rounded-lg shadow-xl px-6 py-8 transition duration-300 transform hover:scale-105">
                        <img src="/img/dummy-icon.svg" alt="" class="h-12 mb-4">
                        <h2 class="text-xl font-bold text-primary mb-2">
                            {{.Title}}
                        </h2>
                        <p class="text-center text-base font-regular">
                            {{ if (not (isset .Params "description")) | or (eq .Params.description "") }}
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            {{ else }}
                            {{ .Params.description }}
                            {{ end }}
                        </p>
                    </a>
                    {{ end }}
                    
                    {{ $dir := .File.Dir }}
                    {{ range .RegularPages}}
                    {{ if not .IsSection }}
                    {{ if eq .File.Dir $dir }}
                    <div class="col-span-2 text-left mb-2">
                        <h2 class="text-xl font-bold text-primary mb-2">
                            <a href="{{.Permalink}}">{{.Title}}</a>
                        </h2>
                        <p class="text-base">
                            {{ if (not (isset .Params "description")) | or (eq .Params.description "") }}
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            {{ else }}
                            {{ .Params.description }}
                            {{ end }}
                        </p>
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    
                    <!-- <div class="flex flex-col justify-center items-center border-2 border-gray-500 rounded-lg shadow-xl px-6 py-8">
                        <img src="/img/dummy-icon.svg" alt="" class="h-12 mb-4">
                        <h2 class="text-xl font-bold text-orange-500 mb-2">
                            <a href="#">How to set-up</a>
                        </h2>
                        <p class="text-center text-base">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <div class="border-2 border-gray-500 rounded-lg shadow-xl">
                        <div class="w-full h-32">
                            <img src="/img/dummy-image.jpg" alt="" class="w-full h-full object-cover object-top">
                        </div>
                        <div class="flex flex-col justify-center items-center px-6 pt-4 pb-8">
                            
                            <h2 class="text-xl font-bold text-orange-500 mb-2">
                                <a href="#">How to set-up</a>
                            </h2>
                            <p class="text-center text-base">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="border-2 border-gray-500 rounded-lg shadow-xl">
                        <div class="w-full h-32">
                            <img src="/img/dummy-image.jpg" alt="" class="w-full h-full object-cover object-top">
                        </div>
                        <div class="flex flex-col justify-center items-center px-6 pt-4 pb-8">
                            
                            <h2 class="text-xl font-bold text-orange-500 mb-2">
                                <a href="#">How to set-up</a>
                            </h2>
                            <p class="text-center text-base">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div> -->
                </div>
                <div class="copy order-first lg:order-last">
                    {{.Content}}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
