{{ define "main" }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
    <div class="relative bg-nav-meta z-0 pt-16 pb-16">
        <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
        <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
            <img src="/img/list-mountains.svg" alt="" class="block w-full">
        </div>
        <div class="absolute right-0 bottom-0 text-xs font-bold text-white text-opacity-25 p-2">DEFAULT LIST TEMPLATE</div>
        <div class="container">
            <div class="px-24 ">
                <div class="grid grid-cols-3 gap-12 xxl:gap-24 items-center">
                    <div class="replace col-span-2">
                        <h1 class="text-white text-5xl leading-tight font-semibold mb-2">
                            <span class="font-bold">{{ .Title }}
                        </h1>
                        <p class="text-white font-semibold">{{ .Summary }}</p>
                    </div>
                    <div>
                        {{ if $cover_image }}
                        <img src="{{ $cover_image.RelPermalink }}" class="w-full" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-white bg-gradient-to-b from-gradient to-white opacity-25 -z-1"
    ></div>
    <section id="scroll">
      <div class="container py-12 sm:pb-24 sm:pt-12 px-12 lg:px-24">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 xl:gap-24">
                <div class="lg:col-span-2 pt-10">

                    {{ range .RegularPages}}
                    <div class="text-left mb-6">
                        <h2 class="text-2xl font-bold text-primary mb-1">
                            <a href="{{.RelPermalink}}" class="hover:text-black focus:text-black">{{.Title}}</a>
                        </h2>
                        <p class="text-base">
                            {{ .Summary | truncate 180 }}
                        </p>
                    </div>
                    {{ end }}
                    
                    
                    {{ if .Content }}
                    <div class="copy mt-12">{{ .Content }}</div>
                    {{ end }}
                    
                </div>
                <div class="-mt-12">
                  {{ partial "page-latest-news" . }}
                  {{ partial "page-apply-now" . }}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
