{{ define "main" }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
    {{ partial "alert" .  }}
    <div class="relative bg-nav-meta z-0 pt-16 pb-16">
        <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
        <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
            <img src="/img/list-mountains.svg" alt="" class="block w-full" aria-hidden="true">
        </div>
        {{ if .Site.IsServer }}
        <div class="absolute right-0 top-0 bg-black text-xs font-bold text-white p-2">RELATED SINGLE TEMPLATE</div>
        {{ end }}
        <div class="container">
            <div class="px-24 ">
                <div class="grid grid-cols-3 gap-12 xxl:gap-24 items-center">
                    <div class="replace col-span-2">
                        <h1 class="text-white text-5xl leading-tight font-semibold mb-2">
                            <span class="font-bold">{{ .Title }}
                        </h1>
                        <p class="text-white font-semibold">{{ .Summary }}</p>
                    </div>
                    <div>
                        {{ if $cover_image }}
                        <img src="{{ $cover_image.RelPermalink }}" class="w-full" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-white bg-gradient-to-b from-gradient to-white opacity-25 -z-1"
    ></div>
    <section id="scroll">
        <div class="container py-12 sm:py-24 px-12 lg:px-24">
            {{ partial "breadcrumb" . }}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 xl:gap-24 mt-8">
                <div class="lg:col-span-2">
                    <main>
                        {{ if .Sections }}
                        <div class="grid grid-cols-2 gap-12 mb-8">
                            {{ range .Sections}}
                            <a href="{{.RelPermalink}}" class="flex flex-col justify-center items-center text-center border-2 border-gray-500 rounded-lg shadow-xl px-6 py-8 transition duration-300 transform hover:scale-105">
                                <img src="/img/dummy-icon.svg" alt="" class="h-12 mb-4" aria-hidden="true">
                                <h2 class="text-xl font-bold text-primary mb-2">
                                    {{.Title}}
                                </h2>
                                <p class="text-center text-base font-regular">
                                    {{ .Summary }}
                                </p>
                            </a>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if .RegularPages }}
                        <div class="mb-8">
                            {{ range .RegularPages}}
                            {{/*  {{ if not .IsSection }}  */}}
                            <div class="col-span-2 text-left mb-2">
                                <h2 class="text-xl font-bold text-primary mb-2">
                                    <a href="{{.RelPermalink}}">{{.Title}}</a>
                                </h2>
                                <p class="text-base">
                                    {{ .Summary | truncate 180 }}
                                </p>
                            </div>
                            {{/*  {{ end }}  */}}
                            {{ end }}
                        </div>
                        {{ end }}


                        {{ if .Content }}
                        <div class="copy">{{ .Content }}</div>
                        {{ end }}
                    </main>
                </div>
                <div class="copy order-first lg:order-last">
                    {{ .Summary | truncate 200 }}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
