{{ define "main" }}

{{ $headline := .Page.Title }}
{{ if isset .Page.Params "headline" }}
{{ $headline = .Page.Params.headline }}
{{ end }}

{{ $teaser := .Page.Params.description }}
{{ if isset .Page.Params "teaser" }}
{{ $teaser = .Page.Params.teaser }}
{{ end }}

{{ $image := "" }}
{{ if .Page.Params.image }}
{{ $image = resources.Get (printf "%s" (.Page.Params.image | safeURL)) }}
{{ end }}

{{ $language := .Site.Language | urlize }}

{{ $articles := first 3 (where (where .Site.RegularPages "Section" "news") "Permalink" "!=" .Page.Permalink).ByLastmod.Reverse }}

<div class="relative shadow-xl print:shadow-none">
    {{ partial "navigation" . }}
</div>
<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-white bg-gradient-to-b from-gradient to-white opacity-25 print:hidden -z-1"
    ></div>
    <div class="absolute right-0 top-0 text-xs font-bold text-black text-opacity-25 p-2">SINGLE TEMPLATE</div>
    <section>
        <div class="container py-12 sm:py-24 px-12 lg:px-24">
            {{ if $image }}
            <div class="relative sm:hidden w-full mb-10">
                <img src="{{ $image.RelPermalink | safeURL }}" alt="{{ .Page.Params.description | truncate 160 }}" class="w-full rounded-md shadow-xl" loading="lazy" />
            </div>
            {{ end }}
            {{ partial "breadcrumb" . }}
            <div id="scroll" class="grid grid-cols-1 md:grid-cols-3 gap-12 xxl:gap-24">
                <div class="copy replace sm:col-span-2">
                    {{.Content}}
                </div>
                <div class="">
                    {{ if $image }}
                    <div class="hidden sm:block relative max-h-60 overflow-hidden w-full -mt-1 mb-4">
                        <img src="{{ $image.RelPermalink | safeURL }}" alt="{{ .Page.Params.description | truncate 160 }}" class="w-full rounded-md shadow-xl" loading="lazy" />
                    </div>
                    {{ end }}
                    {{ if eq .Page.Section "news" }}
                    <div class="font-medium leading-tight text-sm mb-2"><span class="font-bold">Last changed:</span> {{ dateFormat "January 2006" .Lastmod }}
                    </div>
                    {{ if .Params.categories }}
                    <div class="font-medium leading-tight text-sm mb-2"><span class="font-bold">Categories:</span>
                        <ul class="inline">
                            {{ range .Params.categories }}
                            <li class="inline-block bg-white text-primary border-2 border-primary text-xs px-2 py-1 rounded-md mx-1"><a href="/{{ $language }}/categories/{{ . }}" class="inline-flex items-center">
                                {{ partial "icon" (dict "name" "tag" "size" "3") }}
                                <span class="font-semibold uppercase ml-1">
                                    {{ . | humanize }}
                                </span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                    {{ else if eq .Page.Section "faq" }}
                    {{ if .Params.tags }}
                    <div class="font-medium leading-tight text-sm mb-2"><span class="font-bold">Tags:</span>
                        <ul class="inline">
                            {{ range .Params.tags }}
                            <li class="inline-block bg-white text-primary border-2 border-primary text-xs px-2 py-1 rounded-md mx-1"><a href="/{{ $language }}/tags/{{ . }}" class="inline-flex items-center">
                                {{ partial "icon" (dict "name" "tag" "size" "3") }}
                                <span class="font-bold uppercase ml-1">
                                    {{ . | humanize }}
                                </span>
                                </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                    {{ end }}
                    <div class="font-bold leading-tight text-sm mb-2">Reading time: <span class="text-secondary">{{ .ReadingTime }} minutes</span></div>
                    <h2 class="text-2xl font-medium mb-2 leading-tight mt-8">{{ $headline | markdownify }}</h2>
                    <p class="text-sm mb-8">{{ $teaser }}</p>
                    {{ partial "articles-latest" . }}
                    {{ if ne  .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
                    <div id="tableofcontents" class="tableofcontents md:sticky top-nav-scroll">
                        <h2 class="text-xl font-bold mb-4">Table of contents</h2>
                        <aside>
                            {{ .TableOfContents }}
                        </aside>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
