{{ define "main" }}

{{ $style := "right" }}
{{ with .Params.style }}
{{ $style = . }}
{{ end }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

{{ $language := .Site.Language | urlize }}

<div class="relative shadow-xl print:shadow-none">
    {{ partial "navigation" . }}
</div>
<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-white -z-1"
    ></div>
    {{ if .Site.IsServer }}
    <div class="absolute right-0 top-0 bg-black text-xs font-bold text-white p-2 z-1">SINGLE TEMPLATE - STYLE: {{ $style }}</div>
    {{ end }}
    <section>
        {{ partial ( printf "single/%s" $style) . }}
    </section>
</div>
{{end}}
