{{ define "main" }}
{{ $headline := .Page.Title }}
{{ if isset .Page.Params "headline" }}
{{ $headline = .Page.Params.headline }}
{{ end }}
{{ $teaser := .Page.Params.description }}
{{ if isset .Page.Params "teaser" }}
{{ $teaser = .Page.Params.teaser }}
{{ end }}

{{ $image := "" }}
{{ $imageLicence := "" }}
{{ if .Params.image }}
{{ $image = .Page.Resources.GetMatch (printf "%s" (.Params.image | safeURL)) }}
{{ end }}
{{ if .Params.imageLicence }}
{{ $imageLicence = .Params.imageLicence }}
{{ end }}

<div class="relative bg-blue-500 shadow-xl" rel="taxonomy" type="{{ .Data.Plural }}">
    {{ partial "navigation" . }}
    <div class="relative bg-nav-meta z-0 pt-16 pb-16">
        <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
        <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
            <img src="/img/list-mountains.svg" alt="" class="block w-full" />
        </div>
        <div class="container">
            <div class="px-24">
                <div class="grid grid-cols-3 gap-24 items-center">
                    <div class="replace col-span-2">
                        <h1 class="text-white text-5xl leading-tight font-semibold mb-2">
                            {{ $headline | humanize }}
                        </h1>
                        <p class="text-white font-semibold">{{ $teaser | humanize }}</p>
                    </div>
                    <div>
                        {{ if isset .Params "image" }}
                        <img src="{{ $image.RelPermalink }}" alt="{{ .Params.imageAlt }}" class="w-full"
                        {{ with $imageLicence}} licence="{{ $imageLicence }}"{{ end }}
                        >
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-white bg-gradient-to-b from-gradient to-white opacity-25 -z-1"
    ></div>
    <section id="scroll">
        <div class="container py-12 sm:py-24 px-12 lg:px-24">
            {{ partial "breadcrumb" . }}
            <div class="border-t-2 border-secondary border-dashed mt-8">
                {{ range sort .Pages "Title" "asc" }}
                
                {{ $image := "" }}
                {{ if .Params.image }}
                {{ $image = resources.Get (printf "%s" (.Params.image | safeURL)) }}
                {{ end }}
                
                <div class="flex items-center border-b-2 border-secondary border-dashed py-8 px-2">
                    <div class="w-1/4 flex-grow-0">
                        {{ if $image }}
                        <img src="{{ $image.RelPermalink | safeURL }}" alt="{{ .Page.Params.description | truncate 160 }}" class="w-full rounded-md" loading="lazy" />
                        {{ end }}
                    </div>
                    <div class="w-3/4 flex-grow ml-8">
                        
                        <p>Reading time: {{ .ReadingTime }} minutes</p>
                        <h2 class="text-2xl font-semibold text-primary hover:text-black">
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </h2>
                        <p>
                            {{ .Summary | truncate 250 }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ if .Content }}
            <div class="copy">{{ .Content }}</div>
            {{ end }}
        </div>
    </section>
</div>
{{end}}
