{{ define "main" }}

{{ $hero_image := resources.Get (printf "%s" ("img/uploads/taiwan-lights.jpg" | safeURL)) }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

<div class="relative shadow-xl">
    {{ partial "navigation" . }}
    {{ partial "alert" .  }}
</div>

<div class="relative flex items-center bg-background-light z-0 shadow-xl py-16">
    <div
    class="absolute top-0 inset-x-0 h-full bg-gradient-to-b from-gradient to-transparent opacity-25 -z-1"
    ></div>
    {{ if .Site.IsServer }}
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2">NEWS LIST TEMPLATE</div>
    {{ end }}
    <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
        <img src="/img/list-mountains-light.svg" alt="" class="block w-full" aria-hidden="true">
    </div>
    <div class="container px-12 lg:px-24">
        <div class="flex flex-col md:flex-row justify-between md:items-center lg:px-24">
            {{ if $cover_image }}
            <div class="flex-center w-1/3 md:w-1/4 mb-6">
                <img src="{{ $cover_image.RelPermalink }}" class="w-full max-h-48 drop-shadow-white" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
            </div>
            {{ end }}
            <div class="replace w-full md:w-2/3">
                {{ partial "breadcrumb" . }}
                <h1 class="text-5xl leading-tight font-semibold my-2">
                    {{ .Title | truncate 120 }}
                </h1>
                <p class="text-lg font-medium leading-relaxed">{{ .Summary | truncate 200 }}</p>
            </div>
        </div>
    </div>
</div>

<div id="scroll" class="relative flex-grow pt-12">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-white -z-1"
    ></div>
    <section>
        <div class="container pb-12 sm:pb-24 px-12 lg:px-24">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 xl:gap-24">
                <div class="lg:col-span-2 pt-10">
                  <div class="border-t-2 border-secondary border-dashed"></div>
                    {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
                    {{ range $paginator.Pages }}
                    {{ partial "single-news" . }}
                    {{ end }}

                    {{ partial "pagination" . }}

                    {{ if .Content }}
                    {{ if eq $paginator.PageNumber 1 }}
                    <div class="copy mt-12">{{ .Content }}</div>
                    {{ end }}
                    {{ end }}

                </div>
                <div class="print:hidden -mt-12">
                    <aside>
                        {{ partial "aside/all-categories" . }}
                        {{ partial "aside/apply-now" . }}
                    </aside>
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
