{{ define "main" }}

{{ $cover_image := resources.Get "cms-uploads/icon-question.svg" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

<div class="relative bg-blue-500 shadow-xl" rel="taxonomy" type="{{ .Data.Plural }}">
    {{ partial "navigation" . }}
</div>

<div class="relative flex items-center bg-background-light z-0 shadow-xl py-16">
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2">TAGS TAXONOMY TEMPLATE</div>
    <div
        class="absolute top-0 inset-x-0 h-full bg-gradient-to-b from-gradient to-transparent opacity-25 -z-1"
    ></div>
    <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
        <img src="/img/list-mountains-light.svg" alt="{{ i18n "taiwan_mountains" }}" class="block w-full">
    </div>
    <div class="container px-12 lg:px-24">
        <div class="flex flex-col md:flex-row justify-between md:items-center lg:px-24">
            {{ if $cover_image }}
            <div class="flex-center w-1/3 md:w-1/4 mb-6">
                <img src="{{ $cover_image.RelPermalink }}" class="w-full max-h-48 filter-dropshadow-white" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
            </div>
            {{ end }}
            <div class="replace w-full md:w-2/3">
                {{ $faq := .Site.GetPage "/faq" }}
                <nav aria-label="breadcrumb">
                    <div class="text-xs font-semibold mb-4">
                        <ol class="flex items-center font-bold">
                            <li class="pr-2">
                                <a href="{{ .Site.Home.RelPermalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">
                                    {{ partial "icon" (dict "name" "home" "size" "4") }}
                                    <span class="ml-2">Home</span>
                                </a>
                            </li>
                            <li class="border-l-2 border-gray-500 border-dashed px-2">
                                <a href="{{ $faq.RelPermalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">{{ $faq.Title }}</a>
                            </li>
                            <li class="border-l-2 border-gray-500 border-dashed px-2">
                                <span class="flex items-center bg-white rounded px-2 py-1">
                                    {{ if i18n .Title }}
                                    {{ i18n .Title }}
                                    {{ else }}
                                    {{ .Title | humanize }}
                                    {{ end }}
                                </span>
                            </li>
                        </ol>
                    </div>
                </nav>
                <h1 class="text-5xl leading-tight font-semibold mb-2">
                    {{ if i18n .Title }}
                    {{ i18n .Title }}
                    {{ else }}
                    {{ .Title | humanize }}
                    {{ end }}
                </h1>
                <p class="text-2xl leading-tight font-semibold mb-2">
                    {{ $faq.Title }}
                </p>
                <p class="text-lg font-medium leading-relaxed">{{ $faq.Summary | truncate 200 }}</p>
            </div>
        </div>
    </div>
</div>

<div id="scroll" class="relative flex-grow pt-12">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-transparent -z-1"
    ></div>
    <section>
        <div class="container pb-12 sm:pb-24 px-12 lg:px-24">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 xl:gap-24">
                <div class="lg:col-span-2">
                    
                    <div x-data="taFilter()" x-init="init()">
                        <form>
                            <input type="text" class="border-2 border-secondary text-xl rounded px-5 py-2" x-model.debounce.250="filter">
                        </form>                    
                        <div class="border-b-2 border-secondary border-dashed mt-8">
                            {{ range $index, $value := sort .Pages "Title" "asc" }}
                            <div x-show="isInResult({{ $index }})"
                                x-transition:enter="transition transform ease-out duration-200"
                                x-transition:enter-start="opacity-0 -translate-y-5"
                                x-transition:enter-end="opacity-100"
                                x-transition:leave="transition transform ease-in duration-100"
                                x-transition:leave-start="opacity-100"
                                x-transition:leave-end="opacity-0 -translate-y-5"
                            >
                            <div class="border-t-2 border-secondary border-dashed p-4" x-data="taAccordion()" >
                                <button
                                    type="button"
                                    @click.prevent="toggle()"
                                    class="w-full text-left flex items-center justify-between text-primary p-1 -ml-1 focus-primary"
                                >
                                    <span class="text-gray-800 text-xl font-bold py-2 pr-4">{{ .Title }}</span>
                                    <span x-show="!show">
                                        {{ partial "icon" (dict "name" "angle-down" "size" "10" "alt" "Show Answer") }}
                                    </span>
                                    <span x-show="show" x-cloak>
                                        {{ partial "icon" (dict "name" "angle-up" "size" "10" "alt" "Hide Answer") }}
                                    </span>
                                </button>

                                <div
                                    class="-mb-2 pb-4"
                                    x-cloak
                                    x-show="show"
                                    x-transition:enter="transition transform ease-out duration-200"
                                    x-transition:enter-start="opacity-0 -translate-y-5"
                                    x-transition:enter-end="opacity-100"
                                    x-transition:leave="transition transform ease-in duration-100"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0 -translate-y-5"
                                >
                                    <div class="copy text-base font-regular">
                                        {{ .Content }}
                                    </div>
                                    <div class="text-right">
                                        <a href="{{.RelPermalink}}" class="inline-flex items-center leading-none text-primary text-sm font-bold p-1 focus-primary">
                                            <span class="mr-2">
                                                {{ i18n "show_details" }}
                                            </span>
                                            {{ partial "icon" (dict "name" "angle-right" "size" "6") }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {{ end }}
                            {{ if .Content }}
                            <div class="copy">{{ .Content }}</div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="-mt-12">
                    {{ partial "aside/all-tags" . }}
                    {{ partial "aside/latest-article" . }}
                    {{ partial "page-apply-now" . }}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}
