{{ $cover_image := false }}
{{ $large := "" }}
{{ $medium := "" }}
{{ $small := "" }}
{{ $buffer := "" }}
{{ with .Params.cover_image }}
{{ $buffer = resources.Get (printf "%s" ( . | safeURL)) }}
{{ $buffer = $buffer.Fill "3120x1574 jpg" }}
{{ end }}

{{ $buffer }}

{{ if $buffer }}
{{ $buffer = $buffer.Fill "3120x" }}
{{ $large = $buffer.Resize "3120x q15" }}
{{ $medium = $buffer.Resize "1024x q15" }}
{{ $small = $buffer.Resize "768x q15" }}
{{ $cover_image = "true" }}
{{ end }}

{{ if eq .RelPermalink "/en/news/single/" }}
{{ end }}

{{ if eq $cover_image "true" }}
<div class="relative w-full h-0 pb-16/9 lg:pb-1/2 xxl:pb-1/3 min-h-32 shadow-xl overflow-hidden">
    <figure>
        <img
            srcset="{{ $small.RelPermalink }} 480w, {{ $medium.RelPermalink }} 768w, {{ $large.RelPermalink }} 1024w"
            src="{{ $large.RelPermalink }}"
            alt="{{ .Page.Params.cover_image_alt | truncate 160 }}"
            class="block bg-gray-300 absolute inset-0 w-full h-full object-cover"
            loading="lazy"
        />
    </figure>
</div>
{{ end }}