{{ if .Sections }}
<div class="grid grid-cols-2 gap-12 mb-8">
    {{ range .Sections}}
    <a href="{{.RelPermalink}}" class="flex flex-col justify-center items-center text-center border-2 border-gray-500 rounded-lg shadow-xl px-6 py-8 transition duration-300 transform hover:scale-105">
        <img src="/img/dummy-icon.svg" alt="" class="h-12 mb-4">
        <h2 class="text-xl font-bold text-primary mb-2">
            {{.Title}}
        </h2>
        <p class="text-center text-base font-regular">
            {{ .Summary }}
        </p>
    </a>
    {{ end }}
</div>
{{ end }}
{{ if .RegularPages }}
<div class="mb-8">
    {{ range .RegularPages}}
    {{/*  {{ if not .IsSection }}  */}}
    <div class="col-span-2 text-left mb-2">
        <h2 class="text-xl font-bold text-primary mb-2">
            <a href="{{.RelPermalink}}">{{.Title}}</a>
        </h2>
        <p class="text-base">
            {{ .Summary | truncate 180 }}
        </p>
    </div>
    {{/*  {{ end }}  */}}
    {{ end }}
</div>
{{ end }}