{{ define "main" }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

{{ $example_logo := resources.Get "/cms-uploads/netlify-logo.jpg" }}

<div class="relative bg-blue-500 shadow-xl">
    {{ partial "navigation" . }}
    {{ partial "alert" .  }}
    <div class="relative bg-nav-meta z-0 pt-16 pb-16">
        <div class="absolute inset-x-0 top-0 h-3/4 bg-gradient-to-b from-black to-transparent opacity-25 -z-1"></div>
        <div class="absolute bottom-0 right-0 w-2/3 lg:w-1/2 -z-1">
            <img src="/img/list-mountains.svg" alt="" class="block w-full" aria-hidden="true">
        </div>
        {{ if .Site.IsServer }}
        <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2">RELATED-WEBSITES LIST TEMPLATE</div>
        {{ end }}
        <div class="container text-white px-12 lg:px-24">
            <div class="flex flex-col md:flex-row justify-between md:items-center lg:px-24">
                {{ if $cover_image }}
                <div class="flex-center w-1/3 md:w-1/4 mb-6">
                    <img src="{{ $cover_image.RelPermalink }}" class="w-full drop-shadow-white" loading="lazy" alt="{{ .Page.Params.cover_image_alt }}" />
                </div>
                {{ end }}
                <div class="replace w-full md:w-2/3">
                    <h1 class="text-5xl leading-tight font-semibold my-2">
                        {{ .Title | truncate 120 }}
                    </h1>
                    <p class="text-lg font-medium leading-relaxed">{{ .Summary | truncate 200 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative flex-grow">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-96 bg-white bg-gradient-to-b from-blue-100 to-white -z-1"
    ></div>
    <section id="scroll">
        <div class="container py-12 sm:pb-24 px-12 lg:px-24">
            {{ partial "breadcrumb" . }}
            <main>
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 xl:gap-12 mt-6">
                    {{ range sort .RegularPages ".Params.weight" "asc" }}
                    {{ $icon := "" }}
                    {{ if .Params.cover_image }}
                    {{ $icon = resources.Get .Params.cover_image }}
                    {{ end }}

                    <div class="flex flex-col border-2 border-gray-200 bg-gradient-to-b from-white to-gray-100 rounded  shadow-lg overflow-hidden">
                        <div class="p-4 border-b border-gray-200">
                            {{ if ne $icon "" }}
                                {{ $alt := print .Title " - " .Summary }}
                                {{ if .Params.cover_image_alt }}
                                {{ $alt = .Params.cover_image_alt}}
                                {{ end }}
                                {{ $alt_truncated := $alt | truncate 97 }}
                                {{ if eq .Site.Language.Lang "zh" }}
                                {{ $alt_truncated = $alt | truncate 70 }}
                                {{ end }}
                                <img src="{{ $icon.RelPermalink }}" alt="{{ $alt_truncated }}" class="w-full mx-auto max-h-36 object-contain">
                            {{ end }}
                        </div>
                        <div class="flex-grow p-4">
                            <h2 class="text-xl font-bold mb-2">
                                {{ .Title | truncate 80 }}
                            </h2>
                            <p class="text-md mb-2">
                                {{ .Summary | truncate 220 }}
                            </p>
                        </div>
                        <div class="flex flex-wrap justify-center text-md pb-4 px-2">
                            <a href="{{ .Params.link }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="flex items-center font-bold text-primary focus-primary m-2" rel="noopener">
                                {{ partial "icon" (dict "name" "external-link-alt" "size" "6") }}
                                <span class="ml-2">
                                    {{ i18n "website" }}
                                </span>
                            </a>
                            {{ if .Params.social_links.facebook }}
                            <a href="{{ .Params.social_links.facebook }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="flex items-center font-bold text-primary focus-primary p-2" rel="noopener">
                                {{ partial "icon" (dict "name" "facebook-square" "size" "6") }}
                                <span class="ml-2">
                                    {{ i18n "facebook" }}
                                </span>
                            </a>
                            {{ end }}
                            {{ if .Params.social_links.youtube }}
                            <a href="{{ .Params.social_links.youtube }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="flex items-center font-bold text-primary focus-primary p-2" rel="noopener">
                                {{ partial "icon" (dict "name" "youtube" "size" "6") }}
                                <span class="ml-2">
                                    {{ i18n "youtube" }}
                                </span>
                            </a>
                            {{ end }}
                            {{ if .Params.social_links.instagram }}
                            <a href="{{ .Params.social_links.instagram }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="flex items-center font-bold text-primary focus-primary p-2" rel="noopener">
                                {{ partial "icon" (dict "name" "instagram" "size" "6") }}
                                <span class="ml-2">
                                    {{ i18n "instagram" }}
                                </span>
                            </a>
                            {{ end }}
                            {{ if .Params.social_links.twitter }}
                            <a href="{{ .Params.social_links.twitter }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="flex items-center font-bold text-primary focus-primary p-2" rel="noopener">
                                {{ partial "icon" (dict "name" "twitter" "size" "6") }}
                                <span class="ml-2">
                                    {{ i18n "twitter" }}
                                </span>
                            </a>
                            {{ end }}
                            {{ if .Params.social_links.linkedin }}
                            <a href="{{ .Params.social_links.linkedin }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="flex items-center font-bold text-primary focus-primary p-2" rel="noopener">
                                {{ partial "icon" (dict "name" "linkedin" "size" "6") }}
                                <span class="ml-2">
                                    {{ i18n "linkedin" }}
                                </span>
                            </a>
                            {{ end }}
                        </div>

                    </div>
                    {{ end }}
                </div>
            </main>
        </div>
    </section>
</div>
{{end}}
