{{ $articles := first 3 (where (where .Site.RegularPages "Section" "news") "Permalink" "!=" .Page.Permalink).ByLastmod.Reverse }}

{{ if $articles }}
<div class="mb-8">
    <h2 class="text-xl font-bold">Latest Articles</h2>
    {{ range $articles }}
    <div class="my-4">
        <div class="text-xs font-semibold">{{ dateFormat "January 2006" .Lastmod }}</div>
        <a href="{{.RelPermalink}}" class="flex items-center font-bold text-primary -ml-3">
            {{ partial "icon" (dict "name" "right" "size" "4") }}
            <span class="pl-1">{{.Title}}</span>
        </a>
        <p class="text-sm mb-2">{{ .Summary | truncate 70 }}</p>
    </div>
    {{ end }}
</div>
{{ end }}