{{ $home := .Site.Home }}
<nav aria-label="breadcrumb">
    <div class="text-xs font-semibold">
        <ol class="flex flex-wrap items-center font-bold">
            {{ template "breadcrumbnav" (dict "section" .Page.Section "p1" . "p2" . ) }}
        </ol>
    </div>
</nav>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ if eq .p1 .p2 }}
<li class="border-l-2 border-gray-500 border-dashed my-1 px-2">
    <span class="flex items-center bg-white text-gray-900 rounded px-2 py-1">
        {{ if or  (eq .section "tags") (eq .section "categories") }}
            {{ if i18n .p1.Title }}
                {{ i18n .p1.Title }}
            {{ else }}
                {{ .p1.Title | humanize }}
            {{ end }}
        {{ else }}
        {{ .p1.Title | truncate 60 }}
        {{ end }}
    </span>
</li>
{{ else if .p1.IsHome }}
<li class="text-primary hover:text-black my-1 mr-2">
    <a href="{{ .p1.Permalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">
        {{ partial "icon" (dict "name" "home" "size" "4") }}
        <span class="ml-2">
            {{ if or  (eq .section "tags") (eq .section "categories") }}
                {{ if i18n .p1.Title }}
                    {{ i18n .p1.Title }}
                {{ else }}
                    {{ .p1.Title | humanize }}
                {{ end }}
            {{ else }}
            {{ .p1.Title | truncate 60 }}
            {{ end }}
        </span>
    </a>
</li>
{{ else }}
<li class="border-l-2 border-gray-500 border-dashed text-primary hover:text-black my-1 px-2">
    <a href="{{ .p1.Permalink }}" class="flex items-center text-primary bg-white rounded focus-primary px-2 py-1">
        {{ .p1.Title | truncate 60 }}
    </a>
</li>
{{ end }}
{{ end }}