{{ $home := .Site.Home }}
<nav aria-label="breadcrumb">
    <div class="text-sm font-semibold">
        <ol class="flex flex-wrap items-center">
            {{ template "breadcrumbnav" (dict "section" .Page.Section "p1" . "p2" . ) }}
        </ol>
    </div>
</nav>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ if eq .p1 .p2 }}
<li class="breadcrumb">
    {{ if or  (eq .section "tags") (eq .section "categories") }}
        {{ if i18n .p1.Title }}
            {{ i18n .p1.Title }}
        {{ else }}
            {{ .p1.Title | humanize }}
        {{ end }}
    {{ else }}
    {{ .p1.Title | truncate 60 }}
    {{ end }}
</li>
{{ else if .p1.IsHome }}
<li class="text-primary hover:text-black mr-2">
    <a href="{{ .p1.Permalink }}" class="flex items-center">
        <span class="-ml-6">
            {{ partial "icon" (dict "name" "home" "size" "4") }}
        </span>
        <span class="ml-2">
            {{ if or  (eq .section "tags") (eq .section "categories") }}
                {{ if i18n .p1.Title }}
                    {{ i18n .p1.Title }}
                {{ else }}
                    {{ .p1.Title | humanize }}
                {{ end }}
            {{ else }}
            {{ .p1.Title | truncate 60 }}
            {{ end }}
        </span>
    </a>
</li>
{{ else }}
<li class="breadcrumb text-primary hover:text-black mr-2">
    <a href="{{ .p1.Permalink }}">
        {{ .p1.Title | truncate 60 }}
    </a>
</li>
{{ end }}
{{ end }}