{{ $url := .Page.Permalink }} {{ $actual_language := .Site.Language.Lang }}
<div help="taiwan"></div>
<div class="bg-secondary-medium bg-gradient-to-b from-secondary-light to-secondary-medium">
    <div class="container py-12 px-12 lg:px-24">
        <div class="w-1/2 max-w-32 py-6">
            <img src="/img/taiwan-gold-card-logo.png" class="w-full" alt="" />
        </div>
        <div class="flex">
            <div class="w-1/3">
                <p class="font-semibold text-xs text-white">
                    The Taiwan Employment Gold Card is a combined open work permit, residence permit and visa for
                    skilled professionals.
                </p>
                <div class="my-4">
                    <a href="#" class="inline-block w-8 h-8">
                        <img src="/img/dummy-icon.svg" alt="" class="w-full" />
                    </a>
                </div>
            </div>
            <div class="flex-grow flex flex-wrap text-xs text-white font-regular">
                <div class="mx-4">
                    <h4 class="text-semibold uppercase text-sm mb-2">Gold Card</h4>
                    <ul>
                        <li><a href="/{{ .Site.Language.Lang }}/about">What is the Gold Card?</a></li>
                        <li><a href="/{{ .Site.Language.Lang }}/qualification">Do I qualify?</a></li>
                        <li><a href="/{{ .Site.Language.Lang }}/application">The Gold Card Application</a></li>
                        <li>After submitting your application</li>
                        <li>After passing skill assessment</li>
                    </ul>
                </div>
                <div class="mx-4">
                    <h4 class="text-semibold uppercase text-sm mb-2">Services</h4>
                    <ul>
                        <li><a href="/{{ .Site.Language.Lang }}/contact">Contact</a></li>
                        <li><a href="/{{ .Site.Language.Lang }}/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="mx-4">
                    <h4 class="text-semibold uppercase text-sm mb-2">Languages</h4>
                    <ul>
                        {{ range .Site.Languages }}
                        {{ if lt .Weight 10 }}
                        {{ $url = replace $url $actual_language .Lang }}
                        <li><a
                            href="{{ $url }}"
                            @click.prevent="switchLanguage('{{ .Lang }}')"
                            title="Change Language"
                        >
                            {{ .LanguageName }}
                        </a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <div class="mx-4">
                    <h4 class="text-semibold uppercase text-sm mb-2">Legal</h4>
                    <ul>
                        <li><a href="/{{ .Site.Language.Lang }}/legal/privacy">Privacy Policy</a></li>
                        <li>Security Safeguard and Restoration Mechanism</li>
                        <li>Information Security Policy</li>
                        <li><a href="/{{ .Site.Language.Lang }}/legal/open-government-declaration">Open Government Declaration</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary-dark">
    <div class="container text-center py-4 px-12 lg:px-24">
        <p class="text-white text-sm font-regular">
            © 2020 - Taiwan Employment Gold Card Office - All rights reserverd
        </p>
    </div>
</div>
