{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="relative my-6" x-data="taMap()" x-init="init()">
    <div id="map" class="relative overflow-x-auto">
        <div class="wrapper">
            {{range $index, $element := $data.map.items}}
            <div
                class="member border-4 border-secondary-dark rounded-full overflow-hidden"
                :class="{ 'running' : play[{{ $index }}], 'paused' : !play[{{ $index }}] }"
                data-name="{{ $element.name }}"
                data-origin="{{ $element.origin }}"
                data-local="{{ $element.local }}"
                data-description="{{ $element.description }}"
                data-image="{{ $element.image }}"
                style="--left:{{ $element.left }}%;--top:{{ $element.top }}%;--delay:{{ mul $index 2000 }}ms"
                @click.stop="toggle({{ $index }})"
            >
                <img src="/img/{{ $element.image }}" alt="{{ printf "Portrait %s" $element.name }}"
                class="absolute inset-0 w-full h-full" />
            </div>
            {{ end }}
            <img src="/img/map.png" alt="Temp Map" class="block w-full -z-1" x-ref="file" />
        </div>
    </div>
    <template x-if="modal">
        <div
            class="modal bg-white bg-opacity-75 backdrop-blur-2 text-base text-gray-900 rounded-lg border border-gray-200 pl-12 pr-4 py-3 shadow-lg w-full max-w-96 lg:max-w-64"
            :style="data.style"
            @click.away="closeModal()"
            x-show="modal"
            x-transition:enter="transition transform ease-out duration-300"
            x-transition:enter-start="opacity-0 scale-75"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition transform ease-in duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0 scale-75"
        >
            <img
                :src="data.image"
                :alt="data.name"
                class="absolute block left-0 top-0 w-16 h-16 rounded-full border-4 border-secondary shadow-lg -ml-8 -mt-2"
            />
            <p class="text-xs font-bold" x-text="data.origin"></p>
            <p class="text-xl font-bold mb-1" x-text="data.name"></p>
            <p class="text-xs font-semibold uppercase mb-1">
                Located: <span x-text="data.local"></span>
            </p>
            <p class="text-sm font-medium leading-snug" x-text="data.description"></p>
            <button
                type="button"
                @click="closeModal()"
                title="close"
                class="absolute flex-center bg-primary right-0 top-0 text-white w-8 h-8 -mr-4 -mt-2 shadow-lg rounded-full"
            >
                {{ partial "icon" (dict "name" "times" "size" "4") }}
            </button>
        </div>
    </template>
</div>

<style>
    .wrapper {
        position: relative;
        margin: 0 auto;
        width: 1130px;
        height: 544px;
    }

    .member {
        position: absolute;
        left: var(--left);
        top: var(--top);
        background-color: #466505;
        width: 52px;
        height: 52px;
        transform: translate(-50%, -50%);
        opacity: 0;
        cursor: pointer;
    }

    .member.running {
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: var(--delay);
        animation-direction: normal;
        animation-name: animation-fade;
        animation-duration: 15s;
        animation-fill-mode: both;
    }
    .member.paused {
        opacity: 1;
    }

    .modal {
        position: absolute;
        left: var(--left, 50%);
        top: var(--top, 70px);
        transform: translate(var(--translatex, -50%), var(--translatey, -50%));
        z-index: 2;
    }

    @keyframes animation-fade {
        0% {
            opacity: 0;
            z-index: -1;
        }
        1% {
            opacity: 0;
            z-index: 0;
        }
        25% {
            opacity: 1;
            z-index: 1;
        }
        50% {
            opacity: 1;
            z-index: 1;
        }
        75% {
            opacity: 0;
            z-index: 0;
        }
        76% {
            opacity: 0;
            z-index: -1;
        }
        100% {
            opacity: 0;
            z-index: -1;
        }
    }
</style>

<script>
    var element = document.getElementById('map');
    element.scrollLeft = 300;

    {{/*  element.scroll({
        left: 300,
        behavior: 'smooth',
    });  */}}
</script>
