<div
    class="relative flex flex-col sm:flex-row border border-gray-200 rounded-xl bg-gradient-to-b from-white to-gray-100 shadow-lg my-8" data-id="{{ .Params.data_source_internal_id }}" data-src="{{ .File }}"
>
    <div class="absolute right-0 top-0 -mt-6 pr-2">
        <span class="font-semibold text-xs text-gray-500">{{ i18n "source" }} {{ .Params.data_source_name }}</span>
    </div>
    <div class="flex-shrink-0 w-full sm:w-48 lg:w-32">
        {{ if .Params.company_logo_url }}
        <div class="border-r border-b border-gray-200 w-full p-4">
            {{ if .Params.company_page_url }}
            <a href="{{ .Params.company_page_url }}" target="_blank" class="block focus-primary" rel="noopener">
                <img src="{{ .Params.company_logo_url }}" alt="{{ .Params.company_name }}" class="block max-w-full">
            </a>
            {{ else }}
            <img src="{{ .Params.company_logo_url }}" alt="{{ .Params.company_name }}" class="block max-w-full">
            {{ end }}
        </div>
        {{ end }}
        <ul class="w-full leading-tight pt-4 pl-4 sm:pl-2 sm:pb-4">
            {{range $index, $value := .Params.job_tags }}
                {{ if lt $index 10 }}
                    {{ $tag := . }}
                    <li class="inline-block text-primary text-xxs p-1 mx-1">
                        <a href="https://www.cakeresume.com/jobs/{{ partial "urlencode" ( dict "url" . ) }}" class="inline-flex items-center focus-primary" {{ if gt (len $tag) 20 }} title="{{ $tag | humanize }}" {{ end }} target="_blank" rel="noopener">
                            {{ partial "icon" (dict "name" "tag" "size" "2") }}
                            <span class="font-bold uppercase max-w-32 sm:max-w-24 whitespace-nowrap truncate ml-2">
                                {{ $tag }}
                            </span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    <div class="flex-grow p-6">
        {{ if .Params.company_name }}
        <div class="text-sm font-semibold text-gray-600 mb-1">
            {{ .Params.company_name }}
        </div>
        {{ end }}
        <h2 class="block text-xl font-bold text-primary mb-2">
            <a href="{{ .Params.job_url }}" target="_blank" class="inline-block focus-primary" rel="noopener">
                {{ trim .Title " " }}
            </a>
        </h2>
        <div class="text-base font-medium">
            {{ .Content | truncate 180 }}
        </div>
        {{ if and .Params.salary_currency .Params.salary_min .Params.salary_max .Params.salary_type }}
            {{ $min := float .Params.salary_min }}
            {{ $max := float .Params.salary_max }}
            <div class="flex items-center text-base font-bold text-water-600 border-b-2 border-t-2 border-gray-300 border-dashed py-4 my-4 -ml-2 pl-2">
                <div class="flex-center w-5 mr-2">
                    {{ partial "icon" (dict "name" "dollar-sign" "size" "6") }}
                </div>
                {{ .Params.salary_currency }}
                {{ if ge $max $min  }}
                {{ lang.NumFmt 0 $min }} - {{ lang.NumFmt 0 $max }}
                {{ else }}
                {{ lang.NumFmt 0 $max }} - {{ lang.NumFmt 0 $min }}
                {{ end }}
                {{ if .Params.salary_type }}
                ({{ i18n .Params.salary_type }})
                {{ end }}
            </div>
        {{ else if .Params.salary_text }}
            <div class="flex items-center text-base font-bold text-water-600 border-b-2 border-t-2 border-gray-300 border-dashed py-4 my-4 -ml-2 pl-2">
                <div class="flex-center w-5 mr-2">
                    {{ partial "icon" (dict "name" "dollar-sign" "size" "6") }}
                </div>
                {{ .Params.salary_text }}
            </div>
        {{ end }}
        {{ if .Params.types }}
        <div class="flex items-center text-xs font-bold text-water-600 my-4">
            <div class="flex-center w-5 mr-2">
                {{ partial "icon" (dict "name" "info-circle" "size" "4") }}
            </div>
            {{ range .Params.types }}
            <span class="mr-2">
                {{ . }}
            </span>
            {{ end }}
        </div>
        {{ end }}
        {{ if .Params.location_list }}
        <div class="flex items-center text-xs font-bold text-water-600 my-4">
            <div class="flex-center w-5 mr-2">
                {{ partial "icon" (dict "name" "map-marked-alt" "size" "4") }}
            </div>
            {{ .Params.location_list }}
        </div>
        {{ end }}
    </div>
</div>
