<div class="relative z-10 bg-blue-700">
    <div class="container flex">
        <a href="/{{ .Site.Language.Lang }}/" class="block w-1/5 max-w-xs py-2">
            <img src="/img/taiwan-gold-card-logo.png" class="w-full" alt="" />
        </a>
        <ul class="flex-grow flex justify-between items-center text-white text-lg font-semibold ml-20">
            <li class="bg-yellow-400 self-stretch flex items-center text-black font-bold">
                <a href="/{{ .Site.Language.Lang }}/single/" class="px-4">Gold Card</a>
            </li>
            <li>
                <a href="/{{ .Site.Language.Lang }}/single/" class="px-4">FAQ</a>
            </li>
            <li>
                <a href="/{{ .Site.Language.Lang }}/single/" class="px-4">Why Taiwan</a>
            </li>
            <li>
                <a href="/{{ .Site.Language.Lang }}/single/" class="px-4">Events & News</a>
            </li>
            <li>
                <a href="/{{ .Site.Language.Lang }}/single/" class="px-4">Resources</a>
            </li>
        </ul>
    </div>
</div>