{{ $url := .Page.Permalink }}
{{ $actual_language := .Site.Language.Lang }}
<div>
    {{ i18n "change_language" }}:
</div>
{{ range .Site.Languages }}
{{ if lt .Weight 10 }}
{{ $url = replace $url $actual_language .Lang }}
{{ if eq $actual_language .Lang }}
<a
    href="{{ $url }}"
    class="block bg-nav-dark font-bold px-2 py-3 mx-1"
    @click.prevent="switchLanguage('{{ .Lang }}')"
    title="{{ i18n "change_language" }}"
>
{{ else }}
<a
    href="{{ $url }}"
    class="block px-2 py-3 mx-1"
    @click.prevent="switchLanguage('{{ .Lang }}')"
    title="{{ i18n "change_language" }}"
>
{{ end }}
    {{ .LanguageName }}
</a>
{{ end }}
{{ end }}