<nav><div class="relative hidden lg:block z-10 bg-nav-meta text-xs text-white font-semibold print:hidden">
    <div class="max-w-screen-xl mx-auto flex items-center justify-between px-8">
        {{ partial "navigation/meta" . }}
    </div>
</div>
{{ if eq .Page.IsHome true }}
<div class="relative z-10 bg-nav-meta bg-opacity-50 print:bg-none print:bg-white" x-data="taNavigation()" x-init="init()">
{{ else }}
<div class="relative z-10 bg-nav-start bg-gradient-to-b from-nav-start to-nav-end shadow-xl print:bg-none print:bg-white" x-data="taNavigation()" x-init="init()">
{{ end }}
    <div class="relative max-w-screen-xl flex justify-between mx-auto text-white print:text-black pl-4 pr-8" x-ref="menu">
        {{ partial "navigation/bar" . }}
    </div>
    <div id="navigationModal" class="fixed inset-0 text-white print:text-black z-50" x-show="modal" x-cloak>
        {{ partial "navigation/modal" . }}
    </div>
    <div id="navigationScroll" class="fixed inset-x-0 top-0 bg-nav-dark bg-opacity-75 backdrop-blur-3 text-white shadow-xl pl-4 pr-8" x-show="scroll" 
        x-transition:enter="transition transform ease-out duration-200"
        x-transition:enter-start="opacity-0 -translate-y-10"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition transform ease-in duration-100"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0 -translate-y-10"
        x-cloak>
        {{ partial "navigation/scroll" . }}
    </div>
    {{/*  {{ partial "navigation/apply-now" . }}  */}}
</div>
</nav>
