{{ $topic := .Page.Params.topic }}
{{ $language := .Site.Language.Lang }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ range $data.navigation.items }}
    {{ if eq .topic $topic}}
    <li class="bg-yellow-400 text-black border-b border-white border-opacity-50 font-bold">
    {{ else }}
    <li class="border-b border-white border-opacity-50">
    {{ end }}
        <a href="/{{ print $language .link }}" class="block px-6 py-4">
            {{ .name }}
        </a>
        {{ if .dropdown.links }}
        <ul class="pl-8 pb-2">
            
            {{ range .dropdown.links }}
            <li class="text-base py-2">{{ .name }}</li>
            {{ end }}
        </ul>
        {{ end }}
    </li>
{{ end }}