<div class="hidden lg:block my-12" x-data="taFilter()" x-init="init()">
    <div class="flex items-baseline justify-between border-b-2 border-secondary border-dashed px-2 pb-2">
        <h3 class="text-xl font-bold">Filter FAQ by</h3>
        {{ partial "icon" (dict "name" "tags" "size" "7") }}
    </div>
    <ul class="block pt-6 pl-2" x-ref="content">
        {{ range .Site.Taxonomies.tags }}
        <li class="inline-block border-2 border-primary rounded-lg text-white text-sm mr-2 mb-2" :class="{ 'bg-white text-primary': !tags.{{ .Page.Title | anchorize }}, 'bg-primary': tags.{{ .Page.Title | anchorize }} }" data-tag="{{ .Page.Title | anchorize }}">
            <a href="{{ .Page.Permalink }}" @click.prevent="toggle('{{ .Page.Title | anchorize }}')" class="flex items-center px-3 py-1">
                <div x-show="tags.{{ .Page.Title }}">
                    {{ partial "icon" (dict "name" "times" "size" "3") }}
                </div>
                <div x-show="!tags.{{ .Page.Title }}" x-cloak>
                    {{ partial "icon" (dict "name" "plus" "size" "3") }}
                </div>
                <span class="font-bold uppercase ml-2">
                {{ if (i18n .Page.Title) }}
                {{ i18n .Page.Title }}
                {{ else }}
                {{ .Page.Title }}
                {{ end }}
                </span>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
