{{ $reading_time := .ReadingTime }}
{{ if eq .Language.Lang "zh" }}
  {{ range .Translations }}
    {{ if eq .Language.Lang "en" }}
      {{ $reading_time = .ReadingTime }}
    {{ end }}
  {{ end }}
{{ end }}
<div class="my-12">
    <div class="flex items-baseline justify-between border-b-2 border-secondary border-dashed px-2 pb-2">
        <h3 class="text-xl font-bold">{{ i18n "summary" }}</h3>
        {{ partial "icon" (dict "name" "clipboard-list" "size" "8") }}
    </div>
    <div class="pt-6 pl-2">
        <div class="flex items-center text-secondary mb-2">
            {{ partial "icon" (dict "name" "calendar-alt" "size" "4") }}
            <p class="text-xs font-bold ml-2">
                {{ i18n "last_changed" }}
                {{ if eq .Site.Language.Lang "zh" }}
                {{ printf "%d年%d月%s日" .Lastmod.Year .Lastmod.Month (.Lastmod.Format "2") }}
                {{ else }}
                {{ dateFormat "January 2th 2006" .Lastmod }}
                {{ end }}
            </p>
        </div>
        <div class="flex items-center text-secondary mb-4">
            {{ partial "icon" (dict "name" "book-reader" "size" "4") }}
            <p class="text-xs font-bold ml-2">{{ printf (i18n "reading_time") $reading_time }}</p>
        </div>
        <p class="text-sm leading-relaxed font-medium">{{ .Summary | markdownify }}</p>
    </div>
</div>
