{{ $cover_image := "" }}
{{ $cover_image_resized := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ if $cover_image }}
{{ $cover_image_resized = $cover_image.Fill "1024x533 center q30 jpg" }}
{{ end }}
{{ end }}

{{ $only_gold_card_holders := false }}
{{ if eq .Params.only_gold_card true }}
{{ $only_gold_card_holders = true }}
{{ end}}

<div class="flex flex-col border border-gray-200 rounded-xl overflow-hidden bg-gradient-to-b from-white to-gray-100 shadow-lg">
    <div class="relative border-b border-gray-200">
        {{ if ne $cover_image "" }}
            {{ if $only_gold_card_holders }}
            <div class="absolute right-0 bottom-0 bg-red-800 text-xs text-white font-bold rounded-l-xl py-1 px-3 -mb-3">
                {{ i18n "only_gold_card" }}
            </div>
            {{ end }}
            <a href="{{ .Params.link }}" target="_blank" title="{{ i18n "open_in_new_window"}}" tabindex="-1" class="block focus-primary" rel="noopener">
            <img
            src="{{ $cover_image_resized.RelPermalink }}"
            alt="{{ partial "alt" ( dict "alt" .Summary "lang" .Site.Language.Lang ) }}" class="block w-full" loading="lazy" />
        </a>
        {{ end }}
    </div>
    <div class="px-8 py-6">
        {{ if .Params.start }}
        <div class="flex items-center text-xs font-bold text-secondary mb-2">
            <div class="flex-center w-5">
                {{ partial "icon" (dict "name" "s--calendar-check" "size" "4") }}
            </div>
            <span class="ml-2">
                {{ $start_date := time .Params.start "Asia/Taipei" }}
                {{ if eq .Site.Language.Lang "zh" }}
                {{ dateFormat "2006年01月02日" $start_date.Local }}
                {{ else }}
                {{ dateFormat "Monday, January 2, 2006" $start_date.Local }}
                {{ end }}
                {{ i18n "timezone" }}
            </span>
        </div>
        {{ end }}
        {{ if .Params.start }}
        <div class="flex items-center text-xs font-bold text-secondary mb-2">
            <div class="flex-center w-5">
                {{ partial "icon" (dict "name" "s--clock" "size" "4") }}
            </div>
            <span class="ml-2">
                {{ if .Params.end }}
                {{ $start_date := time .Params.start "Asia/Taipei" }}
                {{ $end_date := time .Params.end "Asia/Taipei" }}
                {{ partial "time" (dict "date" $start_date.Local "lang" .Site.Language.Lang )}}
                -
                {{ partial "time" (dict "date" $end_date.Local "lang" .Site.Language.Lang )}}
                {{ else }}
                {{ i18n "starts_at" }}: {{ partial "time" (dict "date" $start_date.Local "lang" .Site.Language.Lang )}}
                {{ end }}
                {{ i18n "timezone" }}
            </span>
        </div>
        {{ end }}
        {{ if .Params.location }}
        <div class="flex items-center text-xs font-bold text-secondary mb-2">
            <div class="flex-center w-5">
                {{ partial "icon" (dict "name" "map-marked-alt" "size" "4") }}
            </div>
            <span class="ml-2">
                {{ .Params.location }}
            </span>
        </div>
        {{ end }}
        {{ if $only_gold_card_holders }}
        <div class="flex items-center text-xs font-bold text-secondary mb-2">
            <div class="flex-center w-5">
                {{ partial "icon" (dict "name" "info" "size" "4") }}
            </div>
            <span class="ml-2">
                {{ i18n "only_gold_card" }}
            </span>
        </div>
        {{ end }}

        <h2 class="text-xl font-bold text-primary mb-1 hover:text-black mt-4 -ml-1">
            <a href="{{ .Params.link }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="inline-block focus-primary p-1" rel="noopener">
                {{ .Title | truncate 80 }}
            </a>
        </h2>
        <p class="text-md mb-4">
            {{ .Summary | truncate 160}}
        </p>
        <div class="-ml-1">
            <a href="{{ .Params.link }}" target="_blank" title="{{ i18n "open_in_new_window"}}" class="inline-flex items-center text-base font-bold text-primary focus-primary p-1" rel="noopener">
                {{ partial "icon" (dict "name" "angle-right" "size" "4") }}
                <span class="ml-1">
                    {{ i18n "to_accupass_event" }}
                </span>
            </a>
        </div>

    </div>
</div>
