{{ $cover_image := "false" }}
{{ $large := "" }}
{{ $small := "" }}
{{ $buffer := "" }}
{{ with .Params.cover_image }}
{{ if fileExists (printf "assets/%s" ( . | safeURL)) }}
{{ if or (strings.HasSuffix . "png") (strings.HasSuffix . "jpg") }}
{{ $buffer = resources.Get (printf "%s" ( . | safeURL)) }}
{{ end }}
{{ end }}
{{ end }}

{{ if ne $buffer "" }}
{{ $large = $buffer.Fill "672x672 jpg q15" }}
{{ $small = $buffer.Fill "336x336 q15" }}
{{ $cover_image = "true" }}
{{ end }}

<div class="container py-12 sm:py-24 px-12 lg:px-24">
    {{ if eq $cover_image "true" }}
    <div class="md:hidden relative w-full h-0 pb-full min-h-32 rounded-md shadow-xl overflow-hidden mb-8">
        <figure>
            <img
                srcset="{{ $small.RelPermalink }} 480w, {{ $large.RelPermalink }} 1024w"
                src="{{ $large.RelPermalink | safeURL }}"
                alt="{{ .Page.Params.cover_image_alt | truncate 160 }}"
                class="block absolute inset-0 w-full h-full object-cover"
                loading="lazy"
            />
        </figure>
    </div>
    {{ end }}
    {{ partial "breadcrumb" . }}
    <div id="scroll" class="grid grid-cols-1 md:grid-cols-3 gap-12 xl:gap-24">
        <div class="copy replace sm:col-span-2 pt-4">
            {{.Content}}
        </div>
        <div class="print:hidden -mt-8">
            {{ if eq $cover_image "true" }}
            <div class="hidden md:block relative w-full h-0 pb-full min-h-32 rounded-md shadow-xl overflow-hidden mb-8">
                <img
                    srcset="{{ $small.RelPermalink }} 480w, {{ $large.RelPermalink }} 1024w"
                    src="{{ $large.RelPermalink | safeURL }}"
                    alt="{{ .Page.Params.cover_image_alt | truncate 160 }}"
                    class="block absolute inset-0 w-full h-full object-cover"
                    loading="lazy"
                />
            </div>
            {{ end }}
            {{ partial "page-summary" . }}
            {{ partial "page-table-contents" . }}
            {{ if .Params.categories }}
            {{ partial "page-all-categories" . }}
            {{ end }}
            {{ if .Params.tags }}
            {{ partial "page-all-tags" . }}
            {{ end }}
            {{ partial "page-apply-now" }}
        </div>
    </div>
</div>