<div x-data="taWelcome()" x-init="init()" x-cloak>
    <template x-if="show">
        <div class="fixed inset-0 z-50 w-full h-full flex justify-center items-center">
            <div class="absolute inset-0 w-full h-full bg-white backdrop-blur-3 bg-opacity-75" @click="hide()"></div>
            <div class="relative w-4/5 max-w-xl text-center bg-white bg-opacity-50 border-2 border-gray-200 rounded-lg shadow-2xl p-12">
                <button
                type="button"
                class="absolute top-0 right-0 flex-center bg-primary text-white rounded-full shadow-lg p-2 -m-4"
                @click.prevent="hide()"
                >
                    <div class="flex-center w-8 h-8">{{ partial "icon" (dict "name" "times" "size" "8") }}</div>
                </button>
                <p class="text-2xl font-bold leading-snug" x-text="headline"></p>
                <p class="my-4" x-text="description"></p>
                {{ range .Site.Languages }}
                {{ if lt .Weight 10 }}
                <a href="{{ print "/" .Lang "/" }}" class="inline-block text-primary font-bold p-2 mx-1" @click.prevent="setLanguage('{{ .Lang }}')" title="{{ i18n "change_language" }}" x-text="{{ printf "languages.%s" .Lang }}" >
                {{ .Lang }}
                </a>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </template>
</div>
