<div class="my-12">
    <div class="flex items-center border-b-2 border-gray-600 border-dashed px-2 pb-2">
        {{ partial "icon" (dict "name" "users" "size" "5") }}
        <h2 class="text-xl font-bold ml-2">
            {{ i18n "job_listing_title" }}
        </h2>
    </div>
    <div class="pt-6 pl-2">
        <p class="text-md font-regular leading-normal pb-2">
            {{ i18n "job_listing_description" }}
        </p>
        <p class="text-md font-regular leading-normal">
            {{ i18n "job_listing_info" }}
        </p>
    </div>
    <ul class="block pt-6 pl-2">
        {{ range .Site.Taxonomies.badges }}
        <li class="inline-block bg-primary rounded-lg text-white text-sm mr-2 mb-2">
            <a href="{{ .Page.Permalink }}" class="flex items-center px-3 py-1 focus-primary">
              {{ partial "icon" (dict "name" "tag" "size" "3") }}
              <span class="font-bold uppercase ml-2">
                {{ if i18n (.Page.Title | anchorize) }}
                {{ i18n (.Page.Title | anchorize) }} ({{ .Count }})
                {{ else }}
                {{ .Page.Title }} ({{ .Count }})
                {{ end }}
              </span>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
