{{ $reading_time := .ReadingTime }}
{{ $date := .Lastmod }}
{{ if eq .Language.Lang "zh" }}
  {{ range .Translations }}
    {{ if eq .Language.Lang "en" }}
      {{ $reading_time = .ReadingTime }}
    {{ end }}
  {{ end }}
{{ end }}
<div class="my-12">
    <div class="flex items-center border-b-2 border-secondary border-dashed px-2 pb-2">
        {{ partial "icon" (dict "name" "clipboard-list" "size" "5") }}
        <h2 class="text-lg font-bold ml-2">{{ i18n "summary" }}</h2>
    </div>
    <div class="pt-6 pl-2">
        {{ if $date }}
          <div data-cy="date-string" class="flex items-center text-secondary mb-2">
              {{ partial "icon" (dict "name" "calendar-alt" "size" "4") }}
              <p class="text-xs font-bold ml-2">
                  {{ i18n "last_changed" }}
                  {{ if eq .Site.Language.Lang "zh" }}
                  {{ dateFormat "2006年1月2日" $date }}
                  {{ else }}
                  {{ dateFormat "January 2th 2006" $date }}
                  {{ end }}
              </p>
          </div>
        {{ end }}
        <div class="flex items-center text-secondary mb-4">
            {{ partial "icon" (dict "name" "book-reader" "size" "4") }}
            <p class="text-xs font-bold ml-2">{{ printf (i18n "reading_time") $reading_time }}</p>
        </div>
        {{ if ne .Page.Section "why-taiwan" }}
        <p class="text-sm leading-relaxed font-medium">{{ .Summary | .Page.RenderString }}</p>
        {{ end}}
    </div>
</div>
