<div class="my-12">
    <div class="flex items-baseline justify-between border-b-2 border-secondary border-dashed px-2 pb-2">
        <h3 class="text-xl font-bold">{{ i18n "tags" }}</h3>
        {{ partial "icon" (dict "name" "tags" "size" "7") }}
    </div>
    <ul class="block pt-6 pl-2">
        {{ range .Params.tags }}
        <li class="inline-block bg-primary rounded-lg text-white text-sm px-3 py-1 mr-2 mb-2">
            <a href="/{{ $.Site.Language }}/tags/{{ . }}" class="inline-flex items-center">
                {{ partial "icon" (dict "name" "tag" "size" "3") }}
                {{ if i18n . }}
                <span class="font-bold uppercase ml-2"> {{ i18n . }} </span>
                {{ else }}
                <span class="font-bold uppercase ml-2"> {{ . | humanize }} </span>
                {{ end }}
            </a>
        </li>
        {{ end }}
    </ul>
</div>
