{{ $cover_image := "" }}
{{ $cover_image_resized := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ if $cover_image }}
{{ $cover_image_resized = $cover_image.Fill "1024x533 q20" }}
{{ end }}
{{ end }}

{{ $reading_time := .ReadingTime }}
{{ if eq .Language.Lang "zh" }}
    {{ range .Translations }}
    {{ if eq .Language.Lang "en" }}
        {{ $reading_time = .ReadingTime }}
    {{ end }}
    {{ end }}
{{ end }}

<div class="flex flex-col border border-gray-200 rounded shadow-lg overflow-hidden">
    <div class="relative border-b border-gray-200">
        {{ if .Params.topics }}
        <div class="absolute right-0 top-0 pt-4 pr-4">
            <ul class="inline">
                {{ range .Params.topics }}
                <li class="inline-block bg-white text-primary rounded-md text-xs px-2 py-1 mx-1">
                    <a href="/{{ $.Site.Language }}/topics/{{ . }}" class="inline-flex items-center">
                        {{ partial "icon" (dict "name" "tag" "size" "3") }}
                        <span class="font-bold uppercase ml-2"> {{ . | humanize }} </span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
        {{ if ne $cover_image "" }}
        <img 
        src="{{ $cover_image_resized.RelPermalink }}"
        alt="{{ .Summary | truncate 160 }}" class="block w-full -z-1" loading="lazy" />
        {{ end }}
    </div>
    <div class="flex flex-col h-full bg-gradient-to-b from-white to-gray-100 px-8 py-6">
        <div class="flex items-center text-xs font-bold text-secondary mb-2">
            {{ partial "icon" (dict "name" "calendar-alt" "size" "4") }}
            <span class="ml-2">
                {{ if eq .Site.Language.Lang "zh" }}
                {{ dateFormat "2006" .Date}}
                {{ else }}
                {{ dateFormat "Monday, January 2, 2006" .Date }}
                {{ end }}
            </span>
        </div>
        <h2 class="text-2xl font-bold text-primary hover:text-black mb-2">
            <a href="{{ .RelPermalink }}" class="focus-primary">
                {{ .Title | truncate 120 }}
            </a>
        </h2>
        <div class="flex-grow flex flex-col justify-start">
            <p class="text-md mb-4">
                {{ .Summary | truncate 200}}
            </p>
            <div class="flex items-center text-xs font-bold text-secondary mb-2">
                {{ partial "icon" (dict "name" "book-reader" "size" "4") }}
                <span class="ml-2">
                    {{ printf (i18n "reading_time") $reading_time }}
                </span>
            </div>
        </div>
        <div class="text-right">
            <a href="{{ .RelPermalink }}" class="inline-flex items-center font-bold text-base text-primary focus-primary hover:text-black">
                {{ partial "icon" (dict "name" "angle-right" "size" "5") }}
                <span class="ml-2">
                    {{ i18n "read_more" }}
                </span>
            </a>
        </div>
    </div>
</div>