{{ $cover_image := "" }}
{{ $cover_image_resized := "" }}
{{ if .Params.cover_image }}
    {{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
    {{ if $cover_image }}
        {{ $cover_image_resized = $cover_image.Fill "1024x640 q20" }}
    {{ end }}
{{ end }}

{{ $reading_time := .ReadingTime }}
{{ if eq .Language.Lang "zh" }}
    {{ range .Translations }}
    {{ if eq .Language.Lang "en" }}
        {{ $reading_time = .ReadingTime }}
    {{ end }}
    {{ end }}
{{ end }}

<div class="relative bg-gray-200 border-r border-gray-200 shadow-lg w-full md:w-1/2 xl:w-3/5 min-h-96">
    {{ if ne $cover_image "" }}
    <img
    src="{{ $cover_image_resized.RelPermalink }}"
    alt="{{ .Title | truncate 80 }}" class="block absolute inset-0 w-full h-full object-cover" loading="lazy" />
    {{ end }}
    {{ if .Params.topics }}
    <div class="absolute right-0 bottom-0 pb-4 pr-4">
        <ul class="inline">
            {{ range .Params.topics }}
            <li class="inline-block bg-white text-primary border border-gray-200 rounded-md shadow-md text-xs px-2 py-1 mx-1">
                <a href="/{{ $.Site.Language }}/topics/{{ . }}" class="inline-flex items-center">
                    {{ partial "icon" (dict "name" "tag" "size" "3") }}
                    <span class="font-bold uppercase ml-2">
                        {{ if i18n (. | anchorize ) }}
                        {{ i18n (. | anchorize) }}
                        {{ else }}
                        {{ . | humanize }}
                        {{ end }}
                    </span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>
<div class="relative flex flex-col justify-end w-full md:w-1/2 xl:w-2/5 p-12 lg:p-24">
    <div
        class="absolute top-0 inset-x-0 h-full bg-gradient-to-b from-transparent to-background-light opacity-75 -z-1"
    ></div>
    <div class="absolute bottom-0 right-0 w-full opacity-50 -z-1">
        <img src="/img/list-mountains-light.svg" alt="" class="block w-full" aria-hidden="true">
    </div>
    <div class="flex items-center text-xs font-bold text-secondary mb-2">
        {{ partial "icon" (dict "name" "calendar-alt" "size" "4") }}
        <span class="ml-2">
            {{ if eq .Site.Language.Lang "zh" }}
            {{ dateFormat "2006年1月2日" .article.Date }}
            {{ else }}
            {{ dateFormat "Monday, January 2, 2006" .Date }}
            {{ end }}
        </span>
    </div>
    <h2 class="text-4xl font-bold text-primary mb-2">
        <a href="{{ .RelPermalink }}" class="focus-primary">
            {{ .Title | truncate 120 }}
        </a>
    </h2>
    <div class="flex-grow flex flex-col justify-start">
        <p class="text-lg mb-4">
            {{ .Summary | truncate 320}}
        </p>
        {{/*
            <div class="flex items-center text-xs font-bold text-secondary mb-2">
                {{ partial "icon" (dict "name" "book-reader" "size" "4") }}
                <span class="ml-2">
                    {{ printf (i18n "reading_time") $reading_time }}
                </span>
            </div>
        */}}
    </div>
    <div class="text-right">
        <a href="{{ .RelPermalink }}" class="inline-flex items-center font-bold text-base text-primary focus-primary">
            {{ partial "icon" (dict "name" "angle-right" "size" "5") }}
            <span class="ml-2">
                {{ i18n "read_more" }}
            </span>
        </a>
    </div>
</div>
