{{ $headless := .Site.GetPage "/home" }}
{{ $setup := $headless.Resources.GetMatch "setup*" }}

<div class="relative">
    <div class="absolute top-0 inset-x-0 h-full max-h-64 bg-white bg-gradient-to-b from-background to-white -z-1"></div>
    <div class="container replace py-24 px-12 lg:px-24">
        <div class="mx-auto w-full sm:w-1/2 text-center mb-4">
            <h2 class="text-4xl">
                {{ $setup.Title | markdownify }}
            </h2>
        </div>
        <div class="mx-auto w-full sm:w-3/4 text-center">
            <p class="">
                {{ $setup.Summary | markdownify }}
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-rows-fr gap-12 mt-6">
            {{ range $setup.Params.items }}
                {{ $label := .label }}
                {{ $preview := "" }}
                {{ if .preview }}
                {{ $preview = resources.Get .preview }}
                {{ end }}
                {{ with $.Site.GetPage .href }}
                {{ if not $label }}
                {{ $label = .Title }}
                {{ end }}
                <a href="{{ .RelPermalink }}" class="flex flex-col border-2 border-gray-200 bg-gradient-to-b from-white to-gray-100 rounded focus-primary">
                    {{ if $preview }}
                    <div class="border-b border-gray-200 p-4">
                        <img src="{{ $preview.RelPermalink }}" alt="{{ .Title }}" class="block mx-auto w-1/3 lg:w-1/2" />
                    </div>
                    {{ end }}
                    <div class="text-center p-4">
                        <h3 class="text-lg leading-snug font-bold text-primary">
                            {{ $label }}
                        </h3>
                    </div>
                </a>
                {{ end }}
            {{ end }}
        </div>
        {{/*  {{ $qualification := .Site.GetPage "/qualification" }}  */}}
        {{ if $setup.Content }}
        <div class="mx-auto w-full sm:w-3/4 text-center text-sm leading-relaxed mt-12">
            {{ $setup.Content }}
        </div>
        {{ end }}
    </div>
</div>