{{ $headless := .Site.GetPage "/home" }}
{{ $cta := $headless.Resources.GetMatch "cta*" }}
{{ if .Site.IsServer }}
<div class="text-center w-full text-xs font-bold uppercase p-2">
    cta
</div>
{{ end }}
<div class="grid grid-cols-1 sm:grid-cols-5 bg-secondary-medium bg-gradient-to-b from-secondary-light to-secondary-medium shadow-xl">
    {{ $cta_image := index $cta.Params.items 0 }}
    {{ $cta_image_src := ""}}
    {{ if $cta_image.preview }}
    {{ $cta_image_src = (resources.Get $cta_image.preview).Fill "1024x640 q30 jpg" }}
    {{ end }}
    <div class="sm:col-span-2 relative w-full min-h-64">
        {{ if $cta_image_src }}
        <img src="{{ $cta_image_src.RelPermalink }}" alt="" class="absolute inset-0 w-full h-full object-cover object-top" />
        {{ end }}
    </div>
    <div class="replace relative col-span-3 text-white py-12 lg:py-24 px-12 lg:px-24 overflow-hidden z-0">
        <div class="absolute bottom-0 right-0 w-full sm:w-2/3 lg:w-1/2 -z-1" style="bottom: -1px;">
            <img src="/img/footer-meta-mountains-trees.svg" class="block w-full flipped" alt="" aria-hidden="true">
        </div>
        <div class="max-w-2xl">
            <h3 class="text-4xl mb-4">
                {{ $cta.Title | .Page.RenderString }}
            </h3>
            <p class="leading-loose">
                {{ $cta.Summary | .Page.RenderString }}
            </p>
            <div class="flex justify-between mt-8">
                {{ range $cta.Params.links }}
                {{ $title := i18n "open_in_new_window" }}
                {{ if ne .new_window true }}
                {{ $title = print (i18n "read_more_about") " " (i18n "apply_now_text") }}
                {{ end }}
                <a
                    href="{{ .href }}"
                    {{ if eq .new_window true }} target="_blank" {{ end }} title="{{ $title }}"
                    class="bg-primary border-2 border-primary rounded-md text-white font-bold leading-none shadow-xl px-6 py-3 focus-white nohighlight"
                    >
                    {{ .label }}
                </a>
            {{ end }}
        </div>
    </div>
    </div>
</div>
