{{ $headless := .Site.GetPage "/home" }}
{{ $intro := $headless.Resources.GetMatch "intro*" }}
<div class="relative">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-transparent -z-1"
    ></div>
    <div class="container py-24 px-12 lg:px-24">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 lg:gap-32">
            <div class="replace self-center copy">
                <h2 class="text-4xl leading-tight mb-2">
                    {{ $intro.Title | markdownify }}
                </h2>
                <p class="font-regular">
                    {{ $intro.Summary | markdownify }}
                </p>
                <div class="flex justify-between items-center mt-8">
                    {{ range $intro.Params.links }}
                    {{ if eq .is_cta true }}
                    <a
                    href="{{ .href }}"
                    {{ if eq .new_window true }} target="_blank" {{ end }}
                    class="bg-primary rounded-md force-text-white force-no-underline font-bold text-xl leading-none shadow-xl px-8 py-4 mr-4 focus-primary"
                    >
                    {{ else }}
                    <a
                    href="{{ .href }}"
                    class="bg-white border-2 border-primary force-no-underline rounded-md text-primary font-bold leading-none shadow-xl px-6 py-3 focus-primary"
                    >
                    {{ end}}
                    {{ .label }}
                    </a>
                    {{ end }}
                </div>
            </div>
            <div class="replace">
                {{ range $intro.Params.items }}
                    {{ $href := $.Site.GetPage .href }}
                    {{ $preview := resources.Get "/cms-uploads/icon-dummy.svg" }}
                    {{ if .preview }}
                    {{ $preview = resources.Get .preview }}
                    {{ end }}
                    {{ if $href }}
                    <div
                    class="flex items-center border border-gray-200 rounded-md bg-white shadow-xl px-8 py-4 my-4"
                >
                        <div class="flex-shrink-0 w-1/6 max-w-16 mr-6">
                            {{ if $preview }}
                            <img src="{{ $preview.RelPermalink }}" alt="{{ .label | truncate 60 }}" class="w-full" />
                            {{ end }}
                        </div>
                        <div>
                            <h3 class="text-primary text-lg leading-snug font-bold mb-1">
                                <a href="{{ $href.RelPermalink }}" class="focus-primary"> {{ $href.Title }} </a>
                            </h3>
                            <p class="font-regular text-md">
                                {{ $href.Summary | truncate 80 }}
                            </p>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>