{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $headless := .Site.GetPage "/home" }}
{{ $map := $headless.Resources.GetMatch "map*" }}
{{ $map_image := resources.Get "img/map/map.png" | fingerprint }}

<div class="bg-background pt-24 pb-12">
    <div class="container">
        <div class="mx-auto w-full lg:w-2/3 text-center px-12 replace">
            <h2 class="text-4xl leading-snug">
                {{ $map.Title | markdownify }}
            </h2>
        </div>
        <div class="relative my-6" x-data="taMap()" x-init="init()">
            <div id="map" class="relative overflow-x-auto">
                <div class="wrapper">
                    {{range $index, $element := (shuffle $data.map.items)}}
                    {{ $member_image := resources.Get (printf "img/map/%s" $element.image) | fingerprint }}
                    <button
                        type="button"
                        class="member border-4 border-secondary-dark rounded-full overflow-hidden"
                        :class="{ 'running' : play[{{ $index }}], 'paused' : !play[{{ $index }}] }"
                        data-name="{{ $element.name }}"
                        data-origin="{{ $element.origin }}"
                        data-local="{{ $element.local }}"
                        data-description="{{ $element.description }}"
                        data-image="{{ $member_image.RelPermalink }}"
                        style="--left:{{ $element.left }}%;--top:{{ $element.top }}%;--delay:{{ mul $index 1000 }}ms"
                        @click.stop="toggle({{ $index }})"
                        :aria-pressed="!play[{{ $index }}]"
                        :aria-expanded="play[{{ $index }}]"
                        aria-controls="map-modal"
                        title="{{ i18n "click_to_see_more_details" }} {{ $element.name }}"
                    >
                        <img src="{{ $member_image.RelPermalink }}" alt="{{ printf "Portrait %s" $element.name }}"
                        class="absolute inset-0 w-full h-full" />
                    </button>
                    {{ end }}
                    <img src="{{ $map_image.RelPermalink }}" alt="{{ i18n "gold_card_members_map" }}" class="block w-full -z-1" x-ref="file" />
                </div>
            </div>
            <template x-if="modal">
                <div
                    id="map-modal"
                    :hidden="!modal"
                    class="modal bg-white bg-opacity-75 backdrop-blur-2 text-base text-gray-900 rounded-lg border border-gray-200 pl-12 pr-4 py-3 shadow-lg w-full max-w-96 lg:max-w-64"
                    :style="data.style"
                    @click.away="closeModal()"
                    x-show="modal"
                    x-transition:enter="transition transform ease-out duration-300"
                    x-transition:enter-start="opacity-0 scale-75"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="transition transform ease-in duration-200"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0 scale-75"
                >
                    <img
                        :src="data.image"
                        :alt="data.name"
                        class="absolute block left-0 top-0 w-16 h-16 rounded-full border-4 border-secondary shadow-lg -ml-8 -mt-2"
                    />
                    <p class="text-xs font-bold" x-text="data.origin"></p>
                    <p class="text-xl font-bold mb-1" x-text="data.name"></p>
                    <p class="text-xs font-semibold uppercase mb-1">
                        {{ i18n "located" }}: <span x-text="data.local"></span>
                    </p>
                    <p class="text-sm font-medium leading-snug" x-text="data.description"></p>
                    <button
                        type="button"
                        @click="closeModal()"
                        title="close"
                        class="absolute flex-center bg-primary right-0 top-0 text-white w-8 h-8 -mr-4 -mt-2 shadow-lg rounded-full"
                        :aria-pressed="false"
                        aria-controls="map-modal"
                    >
                        {{ partial "icon" (dict "name" "times" "size" "4") }}
                    </button>
                </div>
            </template>
        </div>
        <div class="mx-auto w-full sm:w-3/4 text-center px-12 lg:px-24">
            <p class="font-regular text-base">
                {{ $map.Summary | markdownify }}
            </p>
        </div>
    </div>
</div>

<style>
    .wrapper {
        position: relative;
        margin: 0 auto;
        width: 1130px;
        height: 544px;
    }

    .member {
        position: absolute;
        left: var(--left);
        top: var(--top);
        background-color: #466505;
        width: 52px;
        height: 52px;
        transform: translate(-50%, -50%);
        opacity: 0;
        cursor: pointer;
    }
    .member:hover {
        box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 6px #ce3f00;
    }

    .member.running {
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: var(--delay);
        animation-direction: normal;
        animation-name: animation-fade;
        animation-duration: 20s;
        animation-fill-mode: both;
    }
    .member.paused {
        opacity: 1;
    }

    .modal {
        position: absolute;
        left: var(--left, 50%);
        top: var(--top, 70px);
        transform: translate(var(--translatex, -50%), var(--translatey, -50%));
        z-index: 2;
    }

    @keyframes animation-fade {
        0% {
            opacity: 0;
            z-index: -1;
        }
        1% {
            opacity: 0;
            z-index: 0;
        }
        6% {
            opacity: 1;
            z-index: 1;
        }
        30% {
            opacity: 1;
            z-index: 1;
        }
        35% {
            opacity: 0;
            z-index: 0;
        }
        36% {
            opacity: 0;
            z-index: -1;
        }
        100% {
            opacity: 0;
            z-index: -1;
        }
    }
</style>

<script>
    var element = document.getElementById('map');
    element.scrollLeft = 300;

    {{/*  element.scroll({
        left: 300,
        behavior: 'smooth',
    });  */}}
</script>
