{{ $data := index .Site.Data.map_en_zh .Site.Language.Lang }}
{{ $headless := .Site.GetPage "/home" }}
{{ $map := $headless.Resources.GetMatch "map*" }}
{{ $map_image := resources.Get "img/map/map.png" | fingerprint }}

<div class="bg-background pt-24 pb-12" x-data="taMap()" x-init="init()">
    <div class="container">
        <div class="mx-auto w-full lg:w-2/3 text-center px-12 replace">
            <h2 class="text-4xl leading-snug">
                {{ $map.Title | .Page.RenderString }}
            </h2>
        </div>
        <div class="relative my-6">
            <div id="map" x-ref="map" class="relative overflow-x-auto">
                <div class="absolute right-0 bottom-0 p-2 z-10" x-cloak>
                    <button
                        type="button"
                        class="block text-xs font-bold text-primary-dark focus-primary p-2"
                        @click.prevent="stopAnimation()"
                        :aria-pressed="stop === true ? 'true' : 'false'"
                        >
                        <span x-show="!stop">
                            {{ i18n "stop_animation" }}
                        </span>
                        <span x-show="stop">
                            {{ i18n "stopped_animation" }}
                        </span>
                    </button>
                </div>
                <div class="wrapper">
                    {{range $index, $element := (shuffle $data.items)}}
                        {{ $member_image := resources.Get (printf "img/map/%s" $element.image) | fingerprint }}
                        <button
                            type="button"
                            class="member border-4 border-secondary-dark rounded-full overflow-hidden"
                            :class="{ 'running' : play[{{ $index }}], 'paused' : !play[{{ $index }}] || paused[{{ $index }}] }"
                            data-name="{{ $element.name }}"
                            data-origin="{{ $element.origin }}"
                            data-local="{{ $element.local }}"
                            data-description="{{ $element.description }}"
                            data-image="{{ $member_image.RelPermalink }}"
                            data-title-show="{{ i18n "click_to_see_more_details" }} {{ $element.name }}"
                            data-title-hide="{{ i18n "click_to_hide_more_details" }} {{ $element.name }}"
                            style="--left:{{ $element.left }}%;--top:{{ $element.top }}%;--delay:{{ mul $index 1000 }}ms"
                            @click.stop="toggle({{ $index }})"
                            :aria-expanded="paused[{{ $index }}] === true ? 'true' : 'false'"
                            aria-controls="map-modal"
                            :title="titleButton[{{ $index }}]"
                        >
                            <img src="{{ $member_image.RelPermalink }}" alt="{{ printf "Portrait %s" $element.name }}"
                            loading="lazy"
                            class="absolute inset-0 w-full h-full" />
                        </button>
                    {{ end }}
                    <img src="{{ $map_image.RelPermalink }}" alt="{{ i18n "gold_card_members_map" }}" loading="lazy" class="block w-full -z-1" x-ref="file" />
                </div>
            </div>
            <div
                id="map-modal"
                role="dialog"
                :hidden="!modal"
                class="modal bg-white bg-opacity-75 backdrop-blur-2 text-base text-gray-900 rounded-lg border border-gray-200 pl-12 pr-4 py-3 shadow-lg wp-full -wp-8 sm:wp-0 max-w-96 lg:max-w-64"
                :style="data.style"
                @click.away="closeModal()"
                x-show="modal"
                x-transition:enter="transition transform ease-out duration-300"
                x-transition:enter-start="opacity-0 scale-75"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition transform ease-in duration-200"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0 scale-75"
            >
                <img
                    :src="data.image"
                    alt="{{ i18n "gold_card_community_member" }}"
                    :alt="data.name"
                    loading="lazy"
                    class="absolute block left-0 top-0 w-16 h-16 rounded-full border-4 border-secondary shadow-lg -ml-8 -mt-2"
                />
                <p class="text-xs font-bold" x-text="data.origin"></p>
                <p class="text-xl font-bold mb-1" x-text="data.name"></p>
                <p class="text-xs font-semibold uppercase mb-1">
                    {{ i18n "located" }}: <span x-text="data.local"></span>
                </p>
                <p class="text-sm font-medium leading-snug" x-text="data.description"></p>
                <button
                    id="map-modal-close-button"
                    type="button"
                    @click="closeModal()"
                    title="{{ i18n "close" }}"
                    class="member-button absolute flex-center bg-primary right-0 top-0 text-white w-8 h-8 -mr-4 -mt-2 shadow-lg rounded-full"
                    aria-controls="map-modal"
                >
                    <span class="sr-only">
                        {{ i18n "close" }}
                    </span>
                    {{ partial "icon" (dict "name" "times" "size" "4" "alt" false) }}
                </button>
            </div>
            <div class="block xl:hidden absolute right-0 inset-y-0 bg-gradient-to-l from-background to-transparent-background w-12"></div>
        </div>
        <div class="mx-auto w-full sm:w-3/4 text-center px-12 lg:px-24 font-regular text-base">
            {{ $map.Summary | .Page.RenderString }}
        </div>
        <noscript>
            <div class="text-center border-2 border-red-800 font-bold text-red-800 m-8 p-4 max-w-xl mx-auto">
                {{ i18n "noscript_home_map_info" }}
            </div>
        </noscript>
    </div>
</div>
