{{ $category := "" }}
{{ if isset .Page.Params "categories" }}
{{/*  {{ $category = index .Page.Params.categories 0 }}  */}}
{{ end }}
{{ with .Params }}
{{ if isset . "category" }}
{{ $category = .category }}
{{ end }}
{{ end }}

{{ $articles := where (where .Site.RegularPages "Section" "news") "Permalink" "!=" .Page.Permalink }}
{{ if $category }}
{{ $articles = where $articles "Params.categories" "intersect" (slice $category)}}
{{ end }}
{{ $articles = first 3 $articles.ByLastmod.Reverse }}

{{ if $articles }}
<div class="my-12 ">
{{ range $articles }}
    <div class="bg-gray-200 rounded-md px-6 py-4 my-2">
        {{ $actualPage := .Page.Permalink }}
    <span class="block text-sm font-semibold">{{ .Lastmod.Format "January 2, 2006" }}</span>
    <a href="{{.Permalink }}" class="block text-primary text-xl font-bold">
        {{ .Title }}
    </a>
    {{ if .Data.description }}
    <p>
        {{ .Data.description }}
    </p>
    {{ end }}
</div>
{{ end }}
</div>
{{ end }}