{{ $amount := 3 }}
{{ with (.Get "amount") }}
{{ $amount = . | plainify }}
{{ end }}

{{ $faq := where (where .Site.RegularPages "Section" "faq") "Permalink" "!=" .Page.Permalink }}
{{ with (.Get "tag") }}
{{ $faq = where $faq ".Params.tags" "intersect" (slice (. | plainify)) }}
{{ end }}
{{ $faq = first $amount $faq.ByLastmod.Reverse }}

<div class="my-12">
{{ range $faq }}
    <div class="pb-4">
        <h3 class="text-secondary text-xl font-semibold mb-2">
            {{ .Title }}
        </h3>
        <div class="text-base font-normal leading-relaxed">
            {{ .Content }}
        </div>
    </div>
{{ end }}
</div>
