{{ $id := .Get "id" }}
{{ $title := i18n "youtube_video" }}
{{ with (.Get "title") }}
{{ $title = . | plainify }}
{{ end }}
{{ if $id }}
    {{ if eq (.Get "size") "small" }}
    <div class="w-2/3 flex-shrink-0">
        <div class="h-full w-full p-2">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ $id }}" title="{{ $title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    {{ else }}
    <div class="w-full flex-shrink-0 p-2">
        <div class="aspect-w-16 aspect-h-9 bg-gray-800">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ $id }}" title="{{ $title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    {{ end }}
{{ end }}
