{{ $title := .Page.Params.summary }}
{{ with (.Get "title") }}
{{ $title = . | plainify }}
{{ end }}
<div class="flex justify-start items-stretch flex-wrap my-8" x-data="taGallery()" x-init="init()">
    <div class="flex justify-start items-stretch flex-wrap -ml-2 -mr-2" :aria-hidden="modal ? 'true' : 'false'" x-ref="jdaskld">
        <h2 class="sr-only">{{ $title }}</h2>
        {{ .Inner }}
    </div>
    <div class="fixed inset-0 z-50 flex-center bg-white bg-opacity-75 bg-blur-4" style="max-width: 100vw" :aria-hidden="modal ? 'false' : 'true'" aria-describedby="gallery_description" x-show="modal" role="dialog" aria-modal="true">
        <div class="relative bg-white border border-gray-100 m-8" @click.away.prevent="toggleModal()">
            <button type="button" class="absolute right-0 top-0 flex-center bg-white rounded-full text-primary border-2 border-primary font-bold shadow-xl -mr-4 -mt-4 h-8 w-8 focus-primary z-50" @click.prevent="toggleModal()" x-ref="focus">
                <span class="sr-only">
                    {{ i18n "close" }}
                </span>
                {{ partial "icon" (dict "name" "times" "size" "4") }}
            </button>
            <div class="absolute inset-y-0 right-0 flex-center h-full -mr-4">
                <button type="button" class="flex-center bg-white rounded-full text-primary border-2 border-primary font-bold shadow-xl h-12 w-12 focus-primary" @click.prevent="next()">
                    <span class="sr-only">
                        {{ i18n "goto_next_page" }}
                    </span>
                    {{ partial "icon" (dict "name" "angle-right" "size" "8") }}
                </button>
            </div>
            <div class="absolute inset-y-0 left-0 flex-center h-full -ml-4">
                <button type="button" class="flex-center bg-white rounded-full text-primary border-2 border-primary font-bold shadow-xl h-12 w-12 focus-primary" @click.prevent="previous()">
                    <span class="sr-only">
                        {{ i18n "goto_previous_page" }}
                    </span>
                    {{ partial "icon" (dict "name" "angle-left" "size" "8") }}
                </button>
            </div>
            <img :src="image.src" :alt="image.alt" alt="" class="block max-h-screen-3/4 max-w-full">
            <div id="gallery_description" class="absolute inset-x-0 bottom-0 py-2 pl-3 bg-black bg-opacity-75 bg-blur-3 text-white text-xs font-bold" x-show="image.description !== false" x-text="image.description"></div>
            <div class="sr-only">
                {{ i18n "gallery_image_no" }}
                <span x-text="index"></span>
            </div>
        </div>
    </div>
</div>
