{{ $amount := 3}}
{{ with .Get "amount" }}
{{ $amount = . }}
{{ end }}

{{ $articles := first $amount (where (where .Site.RegularPages "Section" "blog") "Permalink" "!=" .Page.Permalink).ByLastmod.Reverse }}

{{ if $articles }}
<div class="my-12 ">
{{ range $articles }}
    <div class="bg-gray-200 rounded-md px-6 py-4 my-2">
        {{ $actualPage := .Page.Permalink }}
    <span class="block text-sm font-semibold">{{ .Lastmod.Format "January 2, 2006" }}</span>
    <a href="{{.Permalink }}" class="block text-primary text-xl font-bold">
        {{ .Title }}
    </a>
    {{ if .Data.description }}
    <p>
        {{ .Data.description }}
    </p>
    {{ end }}
</div>
{{ end }}
</div>
{{ end }}