{{ define "head" }}
{{ partial "head/alpine" ( dict "spruce" "true" "cdn" .Site.Params.loadFromCDN ) }}
<meta name="robots" content="noindex">
{{ end }}

{{ define "main" }}

{{ $style := "right" }}
{{ with .Params.style }}
{{ $style = . }}
{{ end }}

{{ $cover_image := "" }}
{{ if .Params.cover_image }}
{{ $cover_image = resources.Get (printf "%s" (.Params.cover_image | safeURL)) }}
{{ end }}

{{ $language := .Site.Language | urlize }}

{{ $question := .Title }}
{{ if .Params.question }}
{{ $question = .Params.question | markdownify }}
{{ end }}

{{ $back := .Parent }}
{{ if .Params.tags }}
{{ $tag := index .Params.tags 0 | anchorize }}
{{ if $tag }}
{{ $back = .Site.GetPage (printf "/tags/%s" $tag) }}
{{ end }}
{{ end }}

<div class="relative shadow-xl print:shadow-none">
    {{ partial "navigation" . }}
    {{ partial "alert" .  }}
</div>
<div class="relative flex-grow pt-24">
    <div
        class="absolute top-0 inset-x-0 h-full max-h-48 bg-gradient-to-b from-background-light to-white -z-1"
    ></div>
    {{ if .Site.IsServer }}
    <div class="absolute right-0 top-0 text-xs font-bold bg-black text-white p-2 z-1">SINGLE TEMPLATE - STYLE: {{ $style }}</div>
    {{ end }}
    <section>
        <div class="container pb-12 sm:pb-24 px-12 lg:px-24">
            {{ partial "breadcrumb" . }}
            <div id="scroll" class="grid grid-cols-1 md:grid-cols-3 gap-12 xl:gap-24">
                <div class="sm:col-span-2 pt-4">
                    <div class="copy replace">
                        <h1 class="text-4xl font-medium leading-tight mb-2">
                            {{ $question }}
                        </h1>
                        {{.Content}}
                    </div>
                    <div class="text-left">
                        <a href="{{$back.RelPermalink}}" class="inline-flex items-center leading-none text-primary text-base font-bold p-1 focus-primary">
                            {{ partial "icon" (dict "name" "angle-left" "size" "6") }}
                            <span class="ml-2">
                                {{ i18n "back" }}
                            </span>
                        </a>
                    </div>
                </div>
                <aside>
                    <div class="-mt-8">
                        {{ partial "aside/all-tags" . }}
                        {{ partial "aside/latest-faq" . }}
                        {{ if eq .Params.chatbot true }}
                        {{ partial "aside/timezone" . }}
                        {{ end }}
                        {{ partial "aside/apply-now" . }}
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>
{{end}}
